[2018-10-18 19:54] mikehenrty opened #1 "Should users be able to review their own sentences?"

[2018-10-22 11:55] nukeador opened #2 "Blank pages on review and add for Spanish"
Acceding the review or add page for Spanish result in a blank page

https://common-voice.github.io/sentence-collector/#/add
https://common-voice.github.io/sentence-collector/#/review/es

[2018-10-22 11:57] nukeador opened #3 "Localizable content?"
Is it possible to have the UI strings and how to pages localizable?

[2018-10-22 12:01] nukeador commented on #2
This problem is reproducible if your user profile only has Spanish as language, if you also add English the pages load correctly and ask for language selection.

[2018-10-22 12:04] nukeador opened #4 "Define number of votes to approve a string"
- Currently if a sentences has 1 positive review is approved
- Currently if a sentences has 1 negative review is rejected

We should see if we want to implement at least 2-3 votes to approve and also keep the sentences with negative votes at the end of the list just in case.

We want to avoid a single user to make the final call for sentences and avoid abuse.

[2018-10-22 12:11] nukeador commented on #1
Ideally no, we want peer-review, not self-review. We assume everyone would vote positive on their own strings.

[2018-10-22 16:06] mikehenrty commented on #3
it would be great if we can leverage pontoon and fluent (ie. Mozilla's l10n community) for this

[2018-10-22 19:02] nukeador commented on #3
As long as we implement fluent we should be covered to then ask to be included https://projectfluent.org/fluent/guide/

[2018-10-23 17:31] mikehenrty commented on #1
Except in the case where the submitter found the sentences, and submitted them to the collector. In this case, it feels like they should be able to review.

[2018-10-23 17:32] mikehenrty commented on #3
That fees like the right choice here.

[2018-10-23 17:33] mikehenrty commented on #4
Good point. Should we do the same as Common Voice and just use the 2 out of 3 rule? @nukeador

[2018-10-25 10:51] nukeador commented on #4
@mikehenrty which rule are we using for voice reviews?

[2018-10-25 11:39] nukeador commented on #1
Yes, but we should be then clear in #4 to avoid abuse.

[2018-10-25 12:00] nukeador opened #5 "docker-compose up error"
After running `docker-compose up`
[code]

[2018-10-26 12:37] mikehenrty commented on #4
2 out of 3 rule: if 2 people out of 3 think a clip is valid or invalid, we add it to that bucket

[2018-10-26 12:44] mikehenrty commented on #5
This might have something to do with the environment file I added. Can you try copying the `.env_template` to `.env` in the root of this project, and running again? Also note I updated the README to include this info.

[2018-10-26 13:01] nukeador commented on #5
[code]

[2018-10-26 13:02] #2 closed

[2018-10-26 13:03] mikehenrty commented on #5
Can you paste the whole output from `docker compose up`?

[2018-10-26 13:05] mikehenrty commented on #5
this might be a docker-caching issue after copying the file over. can you do the following:
[code]

then paste the entire output here

[2018-10-26 14:41] nukeador commented on #5
OK, it seems now it's up.

http://localhost:8888/v1 returns a json
http://localhost:1234/ is not loading

In which port urls should the site respond?

[2018-10-26 14:42] nukeador commented on #4
Let's follow that for now but get that configurable somewhere, we might need to move it lower if we don't have enough reviews.

[2018-10-29 12:03] nukeador commented on #5
Just a browser 404

[2018-10-29 16:43] nukeador commented on #5
OK, the issue is that once I run docker-composer up I don't get any shell so I assume I have to run yarn from the same folder outside docker but I get:

[code]

[2018-11-14 11:45] nukeador opened #6 "Source information"
We need to ask for the source of the sentences if we want to check it later.

Source can be:

- Self-created
- Other (and a URL should be provided)

[2018-11-14 11:49] nukeador opened #7 "Note about licensing"
We need to add a note when submitting sentences to make sure:

- People grant public domain license to self-created sentences.
- By  submitting a sentence from other source they declare it's under public domain.

[2018-11-14 12:10] nukeador opened #8 "Frontend refresh"
We need to adapt the current temporal frontend to something more friendly.

Elements from the UX prototype can be re-used:

https://projects.invisionapp.com/share/24OV89R65VW#/screens/328648306

(note this prototype includes more features than our current MVP)

[2018-11-14 12:19] MichaelKohler commented on #1
Let's close this as it will be handled in #4.

[2018-11-14 12:19] #1 closed

[2018-11-14 12:21] MichaelKohler opened #9 "Improve Documentation"
I'll try to get this running tonight. I'll document the further steps needed in the README.

[2018-11-14 12:28] nukeador opened #10 "Pagination breaks yes/no votes in review page"
In the review page

https://common-voice.github.io/sentence-collector/#/review/en

If you vote yes/no to the sentences in the current page and then move to next/previous page, the votes are kept the same on screen

![imagen](https://user-images.githubusercontent.com/531906/48482511-2bb26600-e811-11e8-9dd1-413924724fe2.png)

[2018-11-15 21:21] MichaelKohler commented on #9
https://github.com/Common-Voice/sentence-collector/pull/12

[2018-11-15 21:59] MichaelKohler opened #14 "Form Validation fails if no period"
If you enter "This is a test" as a new sentence, the Submit button will not do anything. Once you add a "." at the end it will work. I'm pretty sure this won't work out for all languages. And we should possibly assume that it's one sentence if there is no delimiter.

@nukeador thoughts?

[2018-11-15 22:17] MichaelKohler commented on #14
Thinking about this, maybe we just want to point this out to the user if it happens, so they can add a period. This way we can make sure that it's actually just one sentence instead of guessing that.

That doesn't fix cases for languages without a period, but that would be bigger change.

[2018-11-16 13:17] #9 closed

[2018-11-16 13:22] nukeador commented on #14
I think the problem is about number of words.

"This is a long test" works without period

[2018-11-16 13:31] nukeador commented on #5
Few things:

- I had to install node 10 from snap package
- I had to install curl
- I had to run docker-compose as root or it won't start

Unfortunately I get the same error, from the root directory of the repo

[code]

[2018-11-16 13:32] nukeador commented on #14
Or not invalid but and issue not informing there is a min number of words needed per sentence?

[2018-11-16 16:19] MichaelKohler opened #16 "Inform user about minimum characters when submitting sentences"
From #14: We should inform the user about the minimum required text length when the user tries to submit the form and it's not valid.

[2018-11-19 16:18] whehd16 opened #17 "About docker compose-up question"
I saw the issue of docker compose-up error by nukeador written 25 days ago.
But in my case, after docker compose-up
![pic1](https://user-images.githubusercontent.com/37133888/48719415-cae7bb00-ec60-11e8-9524-aa27b786f618.PNG)

It wasn't be longer in progress.
What did I miss?

[2018-11-19 16:20] MichaelKohler commented on #17
That is correct output, what exactly is the problem you're having?

[2018-11-19 16:38] whehd16 commented on #17
In README.md,
curl --header "Content-Type: application/json" \
  --request PUT \
  --data '{"data": {"password": "password"}}' \
  http://localhost:8888/v1/accounts/admin
is the next step of "docker-compose up"
In this state, should I send interrupt signal to exit and write "curl" command?

[2018-11-19 16:40] MichaelKohler commented on #17
Ah, no, that process needs to keep running, otherwise the docker container and services will be stopped again. Please open a new terminal window/tab to run that command (and then again for running the frontend).

[2018-11-20 11:58] whehd16 commented on #17
Another question, What's differents between running at "https://localhost:1234" and running at "https://common-voice.github.io/sentence-collector/#/" ?

At "https://common-voice.github.io/sentence-collector/#/", I can easily log in using my mozilla account, but
At "https://localhost:1234", I can't log in.
![pic3](https://user-images.githubusercontent.com/37133888/48771782-97ab3780-ed05-11e8-87eb-6

[2018-11-20 12:51] nukeador commented on #17
common-voice.github.io/sentence-collector is this repo testing instance, to see the live changes applied, but for development and testing we recommend you run the instance locally so you can play with the code.

Note: The current login system is not connected to any mozilla services, first time you login it creates an account with the password you have specified.

[2018-11-20 12:56] MichaelKohler commented on #17
Did you create the admin user as described in the Readme? Then you can use that one to log in locally.

[2018-11-20 22:47] leplatrem opened #19 "Optimize homepage load using batch requests"
The homepage sends a lot of requests to the server. At least one per language (+CORS etc.)

https://github.com/Common-Voice/sentence-collector/blob/e4ac834a42d46fcb8fb4e561986708579968830b/shared/db/collections/sentences-meta.js#L79-L81

There is a *batch* API on the server that would allow you to group requests. Especially if in the end your goal is just to get the total records of each collectio

[2018-11-20 23:05] MichaelKohler commented on #19
Absolutely, thanks for the input!

[2018-11-21 16:44] nukeador commented on #8
We have decided not to include any visual refresh for the MVP. We'll just focus on any bugs impacting the current workflow.

[2018-11-21 18:56] #7 closed

[2018-11-21 18:56] #6 closed

[2018-11-21 18:58] MichaelKohler opened #20 "Review Link should look like a link"
<img width="1008" alt="screenshot 2018-11-21 at 19 57 54" src="https://user-images.githubusercontent.com/330324/48862832-c853a580-edc7-11e8-9c46-831ad05b794a.png">

The "review" link should at least look like a link so users figure out that they can click there.

[2018-11-21 19:02] MichaelKohler opened #21 "Submission of already added sentence leads to no warning"
When submitting an already existing sentence and nothing else, the form doesn't get submitted. We should still submit the form, but in the confirmation we should list that sentence as already submitted and disable the submit button.

This already works when submitting 1 existing sentence + 1 new sentence.

[2018-11-22 13:21] MichaelKohler opened #22 "Add section about deployment to Readme"

[2018-11-22 19:43] MichaelKohler commented on #19
Without digging further into the npm package, it *seems* batch only works on collections, and not overall: https://www.npmjs.com/package/kinto-http#batching-operations

Am I missing something?

[2018-11-22 19:47] MichaelKohler commented on #16
Hah, there is no limitation, just no submission if the sentence already exists.. see #21

[2018-11-22 19:47] #16 closed

[2018-11-22 21:38] #22 closed

[2018-11-24 12:52] #21 closed

[2018-11-24 12:52] #20 closed

[2018-11-26 10:58] nukeador opened #27 "Implement the export process"
We need to document how the export process of the validated sentences works.

[2018-11-26 11:03] leplatrem commented on #19
As I noted in the issue description, the kinto-http.js client has a batch API abstraction that was meant to be used on collections only.

But it would be interesting to improve it or document what can be done for use-cases like yours ;)

I'm pretty sure you can use something like this (untested):

[code]

[2018-11-26 11:04] nukeador commented on #27
The exported sentences should land in their locale folder in this repo as txt files:

https://github.com/mozilla/voice-web/tree/master/server/data/

[2018-11-26 18:58] mikehenrty commented on #19
Nice! I was looking for something like that. Hopefully it works.

[2018-11-29 18:09] #10 closed

[2018-12-01 12:42] MichaelKohler commented on #27
This depends on #4 as we only want approved strings to be exported.

[2018-12-01 12:42] MichaelKohler commented on #17
Hi @whehd16, did you manage to get it working?

[2018-12-10 14:45] nukeador commented on #4
After a conversation with @MichaelKohler last week, we think the review process can lead to a high drop in contributions if a lot of people have to review once sentence but since this is just our assumption, we want to validate it with this tool.

We will follow the current way of operating: You need at least one other person to review a sentence to be validated.

The number of people needed to va

[2018-12-16 16:17] MichaelKohler commented on #27
As discussed with Nuke, we're gonna export all the approved strings into sentence-collector.txt to make our life easier (not tracking chunks)

[2018-12-20 12:00] #19 closed

[2018-12-20 12:01] MichaelKohler opened #33 "Add basic sentence validation requirements"
Currently there is a discussion going on on how to improve the quality of the sentences. There are a few requirements we will need to implement here. As this is still ongoing, consider this issue as a placeholder and it will be updated once we have the full list of decisions.

[2018-12-20 15:06] nukeador commented on #33
To re-cap the last list we have:

- Numbers. There should be no digits in the source text because they can cause problems when read aloud. The way a number is read depends on context and might introduce confusion in the dataset. For example, the number “2409” could be accurately read as both “twenty-four zero nine” and “two thousand four hundred nine”.
- Abbreviations and Acronyms. Abbreviations a

[2018-12-21 10:53] nukeador opened #34 "Integrate cleaning tools"
@irvin has create a few scripts to clean up sentences we might want to consider integrating

https://github.com/irvin/voice-text-tools

[2018-12-21 11:04] MichaelKohler commented on #33
@nukeador will figure out how we could do the forth point, the rest I will implement rudimentary.

[2018-12-29 14:38] MichaelKohler opened #35 "Add foreign letters validation"
From #33:

[2018-12-29 14:39] MichaelKohler commented on #33
Created #35 for the fourth point so we can close this once I have implemented the rest.

[2018-12-30 22:07] dabinat commented on #33
What about profanity?

[2018-12-31 10:59] MichaelKohler commented on #33
@dabinat thanks for your input. Of course profanity is something we want to deal with as well. We will have a review process in place which should catch most of it. We'll see how this works out, theoretically we could also integrate a blacklist of words.

[2018-12-31 16:13] #33 closed

[2019-01-02 11:15] nukeador opened #37 "Empty sentences if you review before confirming"
When you add new sentences you are prompted to review before confirming them, if you do so you will end up with a list of empty sentences to review:

![imagen](https://user-images.githubusercontent.com/531906/50589690-ecef7280-0e87-11e9-8c03-2aae61c43db3.png)
![imagen](https://user-images.githubusercontent.com/531906/50589701-f24cbd00-0e87-11e9-8b59-9af6856396ab.png)

What's the purpose of asking

[2019-01-02 11:18] MichaelKohler commented on #37
Oh, I've seen that bug with the "fix" button as well, which I have removed for now due to that exact problem. Somehow doesn't surprise me that happens with the "Review" link as well.

I wonder if it even makes sense to review own sentences? Should that then be counted towards the 2/3 approvals? IMHO no.

[2019-01-02 11:38] nukeador commented on #37
Some people might send sentences from other sources, so they are not their own. It would be fair for them to review them.

[2019-01-02 11:38] MichaelKohler opened #38 "Typo in profile if no sentences submitted yet"
"No sentences submitted or validated, Try reviewing some sentences now?"

--> should be "try"

@nukeador though I wonder what that even means. Do we want people to review first when they start? Or should we advertise adding new sentences here?

<img width="743" alt="screenshot 2019-01-02 at 12 38 03" src="https://user-images.githubusercontent.com/330324/50590433-43aa7b80-0e8b-11e9-96ff-ebdf9a055b0

[2019-01-02 11:42] nukeador commented on #38
If there are no sentences we should encourage to submit new ones.

If there are some sentences we should encourage add new ones or review existing, probably emphasis on review if there are still unapproved ones.

[2019-01-02 11:42] nukeador commented on #38
And in this case, if you haven't added your language we should encourage adding a language first.

[2019-01-02 11:47] MichaelKohler commented on #38
Oh, yes. So we only want to show "No sentences submitted or validated, try reviewing some sentences now?" when there is a language added already. Otherwise we shouldn't show anything so the user sees that there is no language added it (next paragraph). Possibly also rephrasing that to "You have not added any language yet. Please do so below."

[2019-01-02 11:48] nukeador commented on #38
+1

[2019-01-02 11:49] nukeador opened #39 "No footer"
Footer is currently displaying "Footer".

Let's use the same footer we have at https://voice.mozilla.org

[2019-01-02 11:51] MichaelKohler commented on #39
Would you agree that we can take the footer without the "sharing" part? That might get a bit more complicated otherwise.

[2019-01-02 12:30] MichaelKohler commented on #27
So currently I see the following tasks:

* Export approved sentences
* Integrate the possibility to do cleanups (at the beginning used for sorting the sentences to create better diffs)
* (?) Check for duplicate sentences already in the voice-web repo and not export them
* Create yarn run task to have a "one command" process
* Manually creating voice-web commits/PRs with the export for now
* Docume

[2019-01-02 12:45] nukeador commented on #27
Let's aim to have a functional export fist and document how, the rest are nice to haves for this release.

[2019-01-02 16:04] Txopi opened #40 "Review page. Redundant info"
The section title in the paginator "Review Sentences" is not necessary as to lines above there is the name of the page with the same info.
The paginator info in sentence format "Page 1 of 5." is not necessary either, because the pagination buttons (1, <, >, 5) already say the same.

[2019-01-02 16:12] MichaelKohler commented on #40
Good catch, removing that would give some more real-estate to the important parts of the page as well.

[2019-01-02 16:16] Txopi opened #41 "Add page. Bug when clicking on the "Review" link after add sentences"
After adding sentences, the interface ask for confirmation. The text gives information about how many of the sentences have been added and shows a link called "Review" to review the sentences. But, we are in the confirmation page, we can review sentences without confirm its adding?

If I push the "Confirm" button the sentences are added and I can review them. If I click on the "Review" link of the

[2019-01-02 16:19] MichaelKohler commented on #37
If we add this, we also need to make sure that there is a way back to finally submitting the sentences after reviewing as mentioned in #41

[2019-01-02 16:19] MichaelKohler commented on #41
Thanks for filing this issue, there is already a discussion happening about this in https://github.com/Common-Voice/sentence-collector/issues/37 . Therefore I'm closing this as duplicate. Thanks for all your testing!

[2019-01-02 16:19] #41 closed

[2019-01-02 16:30] Txopi opened #42 "Login page. Keep clear the sign up and sign in operations"
I didn't know how to login to do this tests. I used my e-mail as username (it seems "@" is a wrong character but the error messages really doesn't help to understand what's happening) and didn't know which password should I use: Pontoons one? Github's one?

It was my first login so it was supposed that I was creating a new user (register, sign up), not really authenticating. So, to avoid this misu

[2019-01-02 16:45] Txopi opened #43 "Add page. Explain when possible why each sentence has been rejected."
I added 60 sentences in Basque language and this one has been rejected: "Amerikar Estatu Batuak AEB bezala laburtzen dira." (it means something like "United States of America is shorted as USA.")

They are too many uppercase words? The problem is with the acronym? Too many words? The interface give no explanation so I don't know how to reformulate the sentence.

I understand that some regular expr

[2019-01-02 16:51] MichaelKohler commented on #43
Do you think it would help for now if we linked to https://common-voice.github.io/sentence-collector/#/how-to ?

Longer term, giving exact reasons sounds reasonable.

[2019-01-02 16:51] MichaelKohler commented on #42
The rejection is due to characters used that are not allowed, I would say. We should add a note for that.

[2019-01-02 17:12] Txopi opened #44 "Review page. Substitute Skip, Yes and No buttons."
They are too many boxes in the review page. I think it't not necessary to put each sentence inside a box, because they are a lot of boxes around the sentences.

What's the difference between click on Skip and then Submit or directly Submit? I understand there isn't. So you can remove the Skip option or at least activate Skip by default when loading the page. This way, the user will know what will

[2019-01-02 17:16] nukeador commented on #37
Ideally both final screens for add or review workflows should suggest to add more sentences or review more sentences, so people will always have a next step.

[2019-01-02 17:18] MichaelKohler commented on #44
Marking this as question, so we can look at this at a later point. As far as I know there is also somebody working on a more elaborate UX workflow and design for a future version. @nukeador can say if I've understood that right or not. Either case, let's keep this around.

[2019-01-02 17:18] nukeador commented on #42
We decided to keep the login as it was, so yes, let's add a note explaining the behavior.

[2019-01-02 17:19] nukeador commented on #43
Let's include a link to that page in a way it doesn't take a lot of space or distracts the workflow.

[2019-01-02 17:20] Txopi commented on #43
For the moment, it would help to link that page, but giving the exact reason next to each sentence would be really helpful for many users.

NOTE: I saw that filtered sentences are added anyway (like the one in the example above). That's what we want? That's not a list of errors, just a list of warnings?

[2019-01-02 17:39] nukeador commented on #44
Ideally in the future we will have a more polished UX, for this version let's make sure we don't include things that can confuse people, meaning: Let's just do small changes here:

- I agree, the skip button is redundant (I think by default if you don't choose an option you are skipping) so let's hide/remove it (and make sure that if you click again on approve or reject it is deselected)
- Let's u

[2019-01-02 17:49] nukeador commented on #44
I've also noticed the skip button is not working correctly, if on the 3 sentences you click:

Yes on the first one
No on the second one
Skip on the first one
Yes on the third one

Then the first one will go to yes again even if the last action was skip. So I'm i favor of removing it and just skip by default and click again deselect option.

[2019-01-02 17:58] nukeador opened #45 "Sentences failing for Spanish"
I got some fails in these sentences and I'm not sure why:

[2019-01-02 18:05] Txopi commented on #44
Look clear and useful. Don't forget to allow the user to click again in the Approve and Reject button so the sentence returns to the initial state (Skip). If not, if I click some hands in different sentences and I change my opinion with one sentence, I'll be in a trouble when I push the Confirm button.

I personally would show more than just 3 sentences per page. Perhaps 5? 10?

[2019-01-02 18:08] Txopi commented on #45
The last sentence has a number (2).

[2019-01-02 18:09] MichaelKohler commented on #45
And the first two have more than 14 words

[2019-01-02 18:10] MichaelKohler commented on #45
And in theory both requirements could be changed for Spanish explicitly if needed

[2019-01-02 18:17] Txopi commented on #45
When the tool is opened for everyone, I'm sure we will have a lot of issues like this. I think it clearly deserves to make an effort in the Add page and show a reject reason next to each filtered sentence.

I would also put an explicit maximum of sentences to load at a time, because my first test was to paste [2.315 sentences](https://github.com/mozilla/voice-web/blob/10bcf799720f20252b92012168c85

[2019-01-02 22:26] MichaelKohler opened #46 "Make sure all sentences go through"
From @Txopi in https://github.com/Common-Voice/sentence-collector/issues/45#issuecomment-450940170 :

[2019-01-02 22:31] MichaelKohler commented on #44
I agree regarding the boxes and the skip button. However, I'm disagreeing with the 👍 👎  emojis. The meaning of hand gestures heavily depends on where you come from, ranging from what we actually want to mean here to being insulting. Let's avoid that. Would "Approve" / "Reject" make more sense?

[2019-01-02 23:09] MichaelKohler commented on #44
The box itself is already fixed in my other PR: https://github.com/Common-Voice/sentence-collector/pull/48/files

[2019-01-02 23:11] nukeador commented on #46
I think one of our main user cases is people who have 1000s of sentences they want to push to the tool, so we should optimize to allow this massive c&p if possible.

[2019-01-02 23:12] MichaelKohler commented on #46
that's what the second part of the title is supposed to mean, not sure where we fail though.

[2019-01-02 23:14] nukeador commented on #44
@MichaelKohler About the hands, I followed what I know UX had planned for a future version and they used hands 🤷🏻‍♂️

[2019-01-02 23:14] MichaelKohler commented on #44
Let's double check with UX then. Can you take on this task and share my concerns?

[2019-01-02 23:19] nukeador commented on #46
Let's see what we can do/debug, maybe it's an issue with the backend being slow?

[2019-01-02 23:29] MichaelKohler opened #51 "Filtered (invalid) sentences get submitted anyway"
From https://github.com/Common-Voice/sentence-collector/issues/43#issuecomment-450926316:

This is bad. Those should not be submitted!

[2019-01-02 23:30] MichaelKohler commented on #43
I've created a PR to add the link to the rejection list.

Oh no, this is a huge bug. I've filed an issue to track this: https://github.com/Common-Voice/sentence-collector/issues/51

[2019-01-02 23:33] MichaelKohler opened #52 "Skipping in review approves sentence"
When selecting "skip" when reviewing sentences, the sentence gets marked as approve. Hell no!

[2019-01-03 11:49] nukeador opened #53 "Blacklist offensive language"
Not a priority right now, but this idea was coming from different people, the ability to avoid sentences with offensive language.

[2019-01-03 11:50] nukeador opened #54 "Guide on where to find public domain corpus"
Improve how to and include guidance on where to find public domain sentences.

[2019-01-03 11:57] #38 closed

[2019-01-03 11:57] #40 closed

[2019-01-03 11:58] #42 closed

[2019-01-03 12:32] MichaelKohler commented on #44
✓ and ❌ might be better signs to play it safe? however I couldn't find two similar looking unicode characters right now..

[2019-01-03 17:18] nukeador opened #55 "Improve the review workflow"
Not a priority for MVP.

We got this feedback about the current workflow

[2019-01-03 17:30] nukeador commented on #45
No action needed then. 14 words is reasonable for Spanish if our goal is. then under 5s recordings.

[2019-01-03 17:30] #45 closed

[2019-01-03 17:32] nukeador commented on #5
I haven't had time to try again, since other people are able let's close this one and I'll figure out my way if I need to in the future.

[2019-01-03 17:32] #5 closed

[2019-01-03 18:54] MichaelKohler opened #58 "Sentence should contain at least one word"
.. or whatever makes sense for a given language. Should be configurable as the max length is per language.

Example: add a period into the textarea and click submit

[2019-01-03 18:56] #51 closed

[2019-01-03 19:14] limapedro commented on #54
Hi, I have a similar problem, for example the OpenSubtitles would be the perfect dataset for Common voice, it is large and rich, but its license it's MIT, maybe we could write our own sentences or translate from the English one to other languages, I really want to add Portuguese to the project. If you find any good source contact me ok.

[2019-01-03 19:57] #52 closed

[2019-01-03 19:58] MichaelKohler commented on #44
So far I could not remove the skip button, but at least I fixed it. Will need to think more about this.

[2019-01-03 19:58] #58 closed

[2019-01-03 20:10] MichaelKohler commented on #55
We should also define how skipping should work for this workflow. I suppose this should be stored somewhere so the user never sees that sentence again? Currently this wouldn't be the case, therefore some spec is needed.

[2019-01-03 20:22] MichaelKohler commented on #46
Hah, tried this locally and even that takes long while uploading all the sentences to the database. I don't even wanna know how long this would take over the Internet.

We could do some improvements with batch operations though. Additionally we should also show a loading spinner or something.

Not sure how much performance improvements we can get with batch operations, but definitely way better th

[2019-01-04 11:09] nukeador commented on #46
Probably a good question/ask for help for the kinto mailing list? ^^

[2019-01-04 22:43] MichaelKohler commented on #46
A few observations:

* We are creating records in `Sentences_Meta` as well as `Sentences`. For most things we use `Sentence_Meta`, we might want to think about only using that collection. For the export we need to cross-check with `Sentences_Meta` anyway, so I'm not sure why we even have `Sentences`. Will check where we use it. This ~ doubles the request time.
* We are already using batch operatio

[2019-01-04 22:45] MichaelKohler commented on #46
@leplatrem as you already provided Kinto suggestions earlier, I'm allowing myself to ping you. Does above look like a valid batch operation to you?

[2019-01-05 01:04] danielsjf commented on #37
I think the review option should only show up after confirming. If I click review there, my sentences aren't added.

[2019-01-05 01:06] danielsjf opened #62 "Menu gone after clicking on select language link"
If no language is selecting before the first review, clicking on this link drops the menu.

[2019-01-05 12:02] MichaelKohler commented on #62
I'm not sure I understand this bug report. You didn't set a language, went to the Review page, and clicked on the "Profile" link there, correct? What exactly do you mean by "drops the menu"? Which browser are you using?

Here's what I tried to reproduce this:

<img width="994" alt="screenshot 2019-01-05 at 13 56 41" src="https://user-images.githubusercontent.com/330324/50724203-668a9900-10f2-11e9-

[2019-01-05 12:20] danielsjf commented on #62
Sorry it seems that I also cannot reproduce this anymore. I clicked around and suddenly I was missing the menu.

You can close this as I myself cannot even reproduce it.

[2019-01-05 12:45] MichaelKohler commented on #62
Ok, feel free to open a new issue or reopen this one if you can reproduce it again. Thanks!

[2019-01-05 12:45] #62 closed

[2019-01-05 12:48] MichaelKohler commented on #8
I'm closing this one for now. Let's open a new issue once we want to integrate the full design that is being defined.

[2019-01-05 12:48] #8 closed

[2019-01-05 16:48] #39 closed

[2019-01-05 16:49] MichaelKohler commented on #39
To keep design efforts lean, I've added the links to the sidebar and remove the "Footer" line. We will be doing design at a later stage anyway.

[2019-01-06 14:12] leplatrem commented on #46
Well, from what I can see, it does look OK but I'm obviously surprised by the time it takes to complete. Otherwise I would have suggested to simply increase your batch size limit in the settings and send more operations in one request.

Do you use postgresql? Which type of authentication do you use? Are your servers too small?
If you have a newrelic account, the kinto server comes with a newrelic

[2019-01-06 16:36] MichaelKohler commented on #46
This was in my local setup, will make sure we only one collection, deploy it and then we can do some measurements in production. Getting rid of the double creation will already help a lot.

[2019-01-06 16:36] MichaelKohler commented on #46
Also, thanks @leplatrem for the thoughts. Will keep you in the loop and reach out if I have more questions!

[2019-01-06 17:16] #44 closed

[2019-01-06 22:11] #37 closed

[2019-01-06 22:12] MichaelKohler commented on #46
With https://github.com/Common-Voice/sentence-collector/pull/66 we're now only creating records in one collection. This does speed it up, but maybe not enough still.

[2019-01-07 12:06] MichaelKohler opened #70 "Show hint that sentences are being validated/uploaded"
As uploading might take some time, we should show an indication that the sentences are being uploaded. We also might want to add a short notice that it might take some time depending on the amount of sentences.

Coming out of #46

[2019-01-08 11:38] nukeador commented on #37
@MichaelKohler I see review is still offered but now I can see the sentences, is this intentional?

[2019-01-08 11:40] nukeador opened #71 "Add link to report bugs or request features"
Let's add a link on the footer to this github repo so people can discover it to report bugs or request features.

[2019-01-08 12:05] MichaelKohler commented on #37
Yes, I've intentionally fixed this :)

[2019-01-08 12:13] #54 closed

[2019-01-08 13:29] danielsjf opened #74 "Add link to website under Get Involved"
There is a link in the development thread, but it is a bit hard to find (mentioned halfway the thread). It could be useful to also add a link here on Github in the Readme.

[2019-01-08 13:30] MichaelKohler commented on #74
Good idea, thanks!

[2019-01-08 13:51] danielsjf opened #75 "Added sentences are not the same as reviewed sentences"
Could it be that the ending apostrophe is messing with the sentence splitting? The first and the second sentence are mixed in the review phase. The apostrophe can be used in this way in Dutch (same as in English). It doesn't have this behavior for an apostrophe in the middle of a sentence as shown in the third sentence.

![screenshot_20190108-143721__01](https://user-images.githubusercontent.com/6

[2019-01-08 14:14] nukeador commented on #3
TBD: @MichaelKohler Let's try to get an quick estimation on how much work having the tool l10n-ready represents. My thinking:

- How much code do we need to change?
- Dev time needed to make the changes?
- QA time to review the changes?
- Any risks?

[2019-01-08 14:14] nukeador commented on #3
(Initial thinking here is that it would be ideal if we can have this for the February roadmap, having in mind other common voice project needs)

[2019-01-08 14:19] MichaelKohler commented on #75
Good catch, thanks for testing and reporting. This indeed looks like a bug, can't say right now what exactly happens there though.

[2019-01-08 17:24] irvin opened #76 "Seperating Chinese into HK, CN and TW"
Current we only have `Chinese` in the dropdown box of language, they should separate into
- (zh-TW) Chinese (Taiwan)
- (zh-HK) Chinese (Hong Kong)
- (zh-CN) Chinese (China)

Which is also separated in current data
https://github.com/mozilla/voice-web/tree/master/server/data

[2019-01-08 17:32] irvin opened #77 "Submit form is not clear that sentences should entering per line or not"
I don't think the submit form is clear indicate that sentences should enter 1) **per line** and 2) **without period**

<img width="686" alt="2019-01-09 1 30 10" src="https://user-images.githubusercontent.com/165936/50848092-3bcc6900-13ae-11e9-96c8-8a2642543500.png">

[2019-01-08 17:36] MichaelKohler commented on #77
At least English and German sentences can be splitted by dot if they are on the same line and not separate. This might not work for all languages though, as I'd say not all languages use a period as terminator. Also I've not tested other scripts and how the website behaves with these if everything is on a single line and terminated by a period.

[code]

[code]

behave the same for me.

@nukeador t

[2019-01-08 17:39] irvin opened #78 "(Chinese) The auto-added period after sentences on review tool should be full-width"
1. We don't have period inn the current data set.
2. If we want to add period, they should be full-width `。` for Chinese.

<img width="856" alt="2019-01-09 1 33 22" src="https://user-images.githubusercontent.com/165936/50848248-b4332a00-13ae-11e9-8b7f-6038e4d8dece.png">

[2019-01-08 17:41] MichaelKohler commented on #78
Yeah, this should be 1:1 the same as entered, will check if we just add it in the code..

[2019-01-08 17:43] irvin commented on #77
It would be much better to force the user separate them by hands, or I'm worried that we will end up dealing with a copy-pasted article with this 'feature'...

[2019-01-08 17:44] irvin commented on #78
I submit the sentences without period when testing

[2019-01-08 17:54] nukeador commented on #77
I'm confused, I thought new line meant new sentence, isn't that the case? Is that a problem for other languages?

If that's already the case and not a problem, let's add a small clarification "Enter sentences (one per line)"

[2019-01-08 17:56] nukeador commented on #76
I assume this is the way it should be, or these just accents?

For example for Spanish, the language is the same, it only change the accent and that's why there is only one Spanish.

[2019-01-08 18:01] nukeador opened #79 "Clarify number of approved sentences per locale"
We are currently talking about unreviewed and reviewed sentences but we are not talking about how many have been approved (enough positive reviews) to get a sense of locale progress.

I think this only makes sense in the homepage when you are logged in.

[2019-01-08 18:03] MichaelKohler commented on #77
It is.

The thing is that this is not necessarily necessary. If we go down that road, we should enforce it somehow, no idea how though without going back to the period which might not work for all languages.

[2019-01-08 18:04] MichaelKohler commented on #79
I like this!

[2019-01-08 18:10] nukeador commented on #79
I've changed a bit the wording of this issue, realizing that the voice site use validated for review.

[2019-01-08 18:15] nukeador opened #80 "Decrease importance of review when adding sentences"
I got a few people confused about the review step before confirming the sentences you have added, making them think:

- It was mandatory.
- Just completing the review was the way to finish the process.

I suggest we move that to a place that decreases its importance and make clear it's optional, maybe moving it down and change wording to:

"If you want, you can also review your sentences now befor

[2019-01-08 18:16] MichaelKohler commented on #80
Should we also rename the Review "Submit" button to "Finish Review" so it can't be confused with the "Submit" button for the sentences?

[2019-01-08 18:17] nukeador opened #81 "Review before adding sentences not working"
Steps to reproduce:

- Add 3 sentences
- Review them positively before submitting.

Actual result:

- They still appear in the review queue after this process for you to review them.

[2019-01-08 18:23] nukeador commented on #77
How new line→new sentence is a problem for some languages?

We intentionally used this because we want to enable people to c&p hundreds or thousands of already gathered sentences into the tool.

[2019-01-08 18:48] MichaelKohler commented on #77
I'm not able to articulate myself here, sorry. There is *no* problem with one sentence per line, none at all. But we also additionally split on periods if it's not one per line. Should we force it to be one per line? If so, how?

[2019-01-08 18:50] MichaelKohler commented on #74
The current link is https://common-voice.github.io/sentence-collector/ . @nukeador could you add it to the "website" field of the repository?

[2019-01-08 19:03] MichaelKohler commented on #78
Yep, definitely not a display issue only.

[code]

I love removing lines!

[2019-01-08 19:17] MichaelKohler commented on #78
Yep, we need to go down the road of "really only one sentence per line"

[2019-01-08 19:18] MichaelKohler commented on #77
Nevermind, we need to go down the road of only one per line. Not sure how we can verify this, so I didn't add any validation. This will be introduced by https://github.com/Common-Voice/sentence-collector/pull/83 and see also #78

[2019-01-08 19:20] #71 closed

[2019-01-08 19:20] #78 closed

[2019-01-08 19:20] #77 closed

[2019-01-08 19:30] MichaelKohler commented on #81
Oh I see... I forgot to add the property we actually check for when reviewing before submitting.. Oops..

[2019-01-08 20:16] #81 closed

[2019-01-08 20:17] #80 closed

[2019-01-08 21:51] #79 closed

[2019-01-08 21:59] MichaelKohler commented on #75
I have tried to reproduce this, I unfortunately can't. Neither locally nor on the testing website. Can you try to reproduce this? (I have sucessfully submitted your sentences, so you will need to find new ones in the same style)

<img width="1410" alt="screenshot 2019-01-08 at 22 56 49" src="https://user-images.githubusercontent.com/330324/50861422-4af8ea00-13a1-11e9-9977-8c3113a06b8d.png">

Revie

[2019-01-08 23:43] danielsjf commented on #75
Strange. It also doesn't happen again for me, even with different sentences. Could it be that another fix fixed it? Yesterday it happened twice (once to see and once to reproduce).

[2019-01-09 04:46] irvin commented on #76
In these three sets of sentences, we will have more accents options when recording. Eg.,

zh-cn - Accents: Beijing, Southern, North East, West (There will be more in fact, I'm not familiar with them)
zh-hk (Cantonese) - Accents: Hong Kong, Guangzhou, Macau
zh-tw - Accents: linguistic researcher had suggested we separate accents by 20 cities people birth.

[2019-01-09 10:04] MichaelKohler commented on #75
I'll check locally with an older version to make sure that this is indeed fixed with the latest change to the sentence splitting.

[2019-01-09 10:07] MichaelKohler commented on #76
Thanks @irvin . Creating those new buckets should be simple, however we will also need to do this on the staging/prod database.

[2019-01-09 11:55] nukeador opened #87 "Add discussion link"
It would interesting to link where the conversations about sentence collection are happening:

https://discourse.mozilla.org/tags/c/voice/sentence-collection

Link text: Discourse

[2019-01-09 11:56] nukeador commented on #74
Done

[2019-01-09 11:56] #74 closed

[2019-01-09 12:01] Txopi opened #88 "Profile page: Improve two labels"
The main menu talks about "add" and "review", but the profile page talks about "submitted" and "validated" sentences. I think profile page should say something like this:
- 999 ~~submitted~~ **added** by you.
- 999 ~~validated~~ **reviewed** by you.

[2019-01-09 12:03] MichaelKohler commented on #88
@nukeador I agree, do you?

[2019-01-09 12:03] nukeador commented on #88
Yep

[2019-01-09 12:11] MichaelKohler commented on #88
Here are the lines that need to be changed for this: https://github.com/Common-Voice/sentence-collector/blob/fde0444e876f00ef706a91c9cf9f9d36d00df7ca/web/src/components/pages/profile.jsx#L187

It's enough to replace the text directly, as we are not using any localization yet. For instructions on how to set up the environment locally to test this change, please refer to the [README](https://github.

[2019-01-09 12:15] MichaelKohler commented on #87
The links at the bottom of the navigation can be found here:

https://github.com/Common-Voice/sentence-collector/blob/89d4cc67ebd04c5f58f05c85f76c05ef354e1388/web/src/components/header.jsx#L24

This new link should be added above "Report Bugs (GitHub"). Please refer to the README on how to set up the local dev environment. Happy to help if somebody wants to tackle this and gets stuck.

[2019-01-09 12:47] MichaelKohler opened #89 "Create Staging Environment"
Once we are in Beta, we do not want to risk any breakage or inconsistencies in the database. We should set up a full staging environment, this would include:

* Seperate GH Pages for staging builds
* Seperate Kinto DB (or Bucket?) for staging data

Currently there are some hardcoded parts where the Kinto Bucket is references, but this could be made dynamic somehow. This means we might be okay with

[2019-01-09 12:53] MichaelKohler opened #90 "Create initial test infrastructure"
We currently don't have any automated tests, we should add the architecture and at least one example test for:

* `web` testing, Jest Snapshot testing would be good for now
* `shared` testing, possibly with Ava?

`yarn test` should run both test suites.

Once this is done, we could create some "good first bugs" to add more tests and we could reference the example tests for better guidance.

[2019-01-09 12:57] Txopi commented on #46
I tested again adding more than 1.000 sentences in one submit and after pushing "Submit" button, the same happened; nothing seems to happen for minutes so the upload fails.
In my opinion this isn't usable thi way, because the first thing the users will do is to try to add all the sentences they already collected. I strongly recommend:

1. Set a limit in the number of sentences to upload on each re

[2019-01-09 12:58] nukeador commented on #89
What are the implications server side of this?

[2019-01-09 13:00] nukeador commented on #46
Ideally I would like to push for fixing the issue for beta. @MichaelKohler can we estimate how complex/time consuming this could be?

[2019-01-09 13:00] MichaelKohler commented on #89
We would need either a separate Bucket within the same Kinto instance or a new Kinto instance. I'd vote for the former due to resources.

[2019-01-09 13:37] nukeador commented on #89
Cool, let's document the exact operations that need to be done server side so we can ask partsys.

[2019-01-09 16:48] nukeador opened #91 "Bring older sentences first for review"
Checking how we do voice reviews:

I think we should do the same with sentences to ensure all of them are properly reviewed.

[2019-01-09 17:35] MichaelKohler commented on #75
I can confirm this is indeed fixed by the splitting algorithm change. It fails on an older version just as you reported. Great!

[2019-01-09 17:35] #75 closed

[2019-01-09 18:52] MichaelKohler commented on #46
This was a completely different initial issue on the testing website. The server doesn't accept too many GET params, therefore that request failed and we could not start our validation. We didn't even try to upload anything at that point. This should now be fixed. @Txopi want to try again?

It will still take *some* time to validate and then on the second page it will take some time to upload the

[2019-01-09 22:13] Txopi commented on #46
I took [all the sentences we prepared for Basque](https://github.com/mozilla/voice-web/pull/1704) (6.284 sentences) and tried to add them. The upload process took just **3 seconds**. The output:

- `6284 sentences found.`
- `168 sentences were previously submitted.`
- `74 sentences were not matching the requirements.` (most of them are acronyms; I still haven't removed them from the dataset after

[2019-01-09 22:18] MichaelKohler opened #95 "Add spinner to validating/uploading hints"
Once https://github.com/Common-Voice/sentence-collector/pull/94/files is merged, there will be an additional sentence displayed when validating/submitting the sentences. Would be nice if we could add a spinner to this, so the user has at least the impression of something going on during that time.

Validating: https://github.com/Common-Voice/sentence-collector/pull/94/files#diff-2802560281c4000efd

[2019-01-09 22:19] MichaelKohler commented on #46
For now I've added an additional sentence in https://github.com/Common-Voice/sentence-collector/pull/94/files, but I've just filed #95.

Let me see if I can somehow get the sentences that failed.

[2019-01-10 13:27] nukeador opened #96 "Sentences with 1 negative review dissapear from other users review queue"
Steps to reproduce:

- Add a new sentence with user 1
- Check with user 1 and user 2 that the sentence is in your review queue
- Review with a "no" from user 1
- Check with user 2 the review queue
- The sentence has disappeared for user 2

I don't think this is the expected behavior.

[2019-01-11 08:09] tauheedul opened #97 "Error 400 if you login with email"
If you use your email as the login. It displays a non helpful error 400 message.

Suggest instead that they must use their username

[2019-01-11 08:12] tauheedul opened #98 "Flag sentences submitted in wrong language"
We should be able to flag sentences that were allocated in the wrong language and indicate what is the correct category instead of rejecting it altogether.

Or indicate that it has been sent back to the author because it was put in the wrong language category and must be resubmitted.

The author profile should have a list of rejected sentences and reasons. So they can review, edit, resubmit or del

[2019-01-11 14:38] MichaelKohler commented on #98
Thanks for filing this issue!

@nukeador thoughts on this?

[2019-01-11 14:40] MichaelKohler commented on #97
So I assume "Please only use alphanumeric usernames." is not clear enough? Maybe we should add somthing like "username (no email, alphanumeric only)"?

[2019-01-11 15:02] tauheedul commented on #97
Hi @MichaelKohler web users have become used to having the choice to type in their email or username interchangeably in the user name field, it's become ubiquitous. It's easily done on mobile, we all go into autopilot sometimes.

Implementation wise, it could have some regular expression to detect if the user is actively typing an email address and display a tooltip with the label you suggested.

[2019-01-11 16:08] nukeador commented on #98
This could be part of the "nice to have" in future version, together with the ability to edit the sentences during the review.

[2019-01-11 16:10] nukeador commented on #97
Allowing emails at this point would probably mean a legal review, so I'm inclined on avoid any personal information from users for now.

In the future we can ask people for their email or integrate with mozilla's auth0.

[2019-01-11 17:44] MichaelKohler commented on #97
What we can do for now:
* Add note to username field label as well
* Note to the user if they enter non-allowed characters while typing

[2019-01-11 18:29] MichaelKohler opened #99 "Only show "filtered" sentences header when there are filtered sentences"
1) Write sentences and click on submit - make sure there are no invalid ones
2) Review your own sentences
3) Reject one sentence
4) Notice that the "filtered" header gets shown, even though there are no filtered sentences

[2019-01-11 18:30] MichaelKohler opened #100 "Add CHANGELOG file"
Currently the changelog lives in the project board, let's create a file for this.

[2019-01-11 19:04] tauheedul commented on #97
Thanks @MichaelKohler

[2019-01-12 16:43] tauheedul opened #101 "The Username is case sensitive and does not bring up profile info"
If you login with an account and the username is all lower case. The profile loads successfully with a summary count of submitted and reviewed sentences.

If you login using mixed case username. It will allow you to login with the same password but the user profile will not load and it will ask you to re-review previously reviewed sentences. It's as though it thinks they are two different profiles

[2019-01-12 17:19] MichaelKohler commented on #101
Thanks for filing this issue. This is due to username actually being case sensitive. These are two different username, therefore two different profiles. This is how our backend works, and we won't be able to change that. In the long term, if this tool proves to provide value, we possibly will switch to Mozilla IAM, the same login mechanism as voice.mozilla.org for example uses. Then it's gonna be

[2019-01-12 17:19] #101 closed

[2019-01-13 13:01] MichaelKohler opened #102 "Alert User when closing window while sentences are being uploaded"
When uploading sentences it might take some amount of time depending on the amount of sentences to be uploaded. While sentences are being uploaded, we should show a warning to the user 'beforeunload' (with `preventDefault` this is done automatically by the browser). It's best to do this through Redux, as the component might get unmounted when the user goes to a different subsite of the website. Th

[2019-01-13 13:41] #70 closed

[2019-01-13 14:36] MichaelKohler commented on #100
We're gonna use the "releases page" on GitHub with nice automation tools..

[2019-01-13 14:41] #100 closed

[2019-01-13 15:17] MichaelKohler commented on #46
@Txopi FYI, there is a duplicate sentence "Beltzon askatasunak pertsona oro askatuko du." in https://raw.githubusercontent.com/Txopi/voice-web/10bcf799720f20252b92012168c850149b9dc8d2/server/data/eu/argia01.txt . Might be the case for others, as you got 8 failures.

[2019-01-13 15:38] #99 closed

[2019-01-13 15:41] #46 closed

[2019-01-13 15:51] MichaelKohler commented on #99
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #38
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #20
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #46
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #70
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #79
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #81
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #80
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #78
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #71
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #54
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #37
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #44
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #39
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #58
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #52
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:51] MichaelKohler commented on #51
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #42
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #40
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #33
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #19
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #4
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #10
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #21
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #22
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #6
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #7
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #2
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 15:52] MichaelKohler commented on #9
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 17:01] MichaelKohler commented on #96
Can you still reproduce this? I can't, neither locally nor on https://common-voice.github.io/sentence-collector/# .

[2019-01-13 19:12] #91 closed

[2019-01-13 19:13] MichaelKohler commented on #91
Please note that current sentences won't have a date, so they will be shown at the end.

[2019-01-13 19:51] #97 closed

[2019-01-13 19:54] #87 closed

[2019-01-13 19:56] MichaelKohler commented on #76
Currently languages are listed with their native language and the English name.

Example: "Deutsch (German)"

@irvin could you provide this for all three languages?

[2019-01-13 20:01] MichaelKohler commented on #87
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 20:01] MichaelKohler commented on #97
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-13 20:01] MichaelKohler commented on #91
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-14 03:32] irvin commented on #76
@MichaelKohler
zh-cn: Chinese (China)
zh-tw: Chinese (Taiwan)
zh-hk: Chinese (Hong Kong)

[2019-01-14 03:47] irvin commented on #76
zh-cn: 简体中文 (中国) (Simplified Chinese - China)
zh-tw: 正體中文 (台灣) (Traditional Chinese - Taiwan)
zh-hk: 繁體中文 (香港) (Traditional Chinese - Hong Kong)

or shorter

zh-cn: 简体中文 (中国) (Chinese - China)
zh-tw: 正體中文 (台灣) (Chinese - Taiwan)
zh-hk: 繁體中文 (香港) (Chinese - Hong Kong)

or even shorter

zh-cn: 中文 (中国) (Chinese - China)
zh-tw: 中文 (台灣) (Chinese - Taiwan)
zh-hk: 中文 (香港) (Chinese - Hong Kong)

[2019-01-14 11:24] nukeador commented on #96
I no longer can reproduce this, closing.

[2019-01-14 11:24] #96 closed

[2019-01-14 11:26] nukeador opened #112 "Broken submit button when login failed"
Steps to reproduce:

1 . Try to log-in with an existing user and an invalid password
2. You will get "Login failed" and the submit button will turn disabled.
3. Try to correct the password to the valid one.
4. You can no longer use the submit button since it's still disabled (the only way is to reload the page).

[2019-01-14 18:22] Txopi opened #113 "Duplicated sentence detection"
If I try to add this new non existent sentences, the Submit phase finishes successfully and says that it will add 4 sentences:

1. Lehen esaldia
2. Bigarren esaldia
3. Bigarren esaldia
4. Hirugarren esaldia

But the 2nd and 3rd sentences are duplicated. The tool search for duplicates on already uploaded sentences, but not in the sentences you are trying to upload. It would be better if it detects

[2019-01-15 12:40] nukeador commented on #113
I can confirm this issue

[2019-01-15 13:27] nukeador opened #114 "Record sentence approval date"
In order to be able to query how many sentences were approved at a given moment we need to store the approval date for a sentence (on top of the creation date) so in the future we can play with stats.

(we might want to also store review date?)

[2019-01-16 12:24] nukeador commented on #114
The more info we have the better to play later, but that also depends on the possible overload/complexity we introduce with this change, which is a technical consideration I'll rely on you ;-)

[2019-01-16 21:24] profsatwinder opened #115 "Sentence Length is too short for Punjabi (India) Language!"
I tried adding lots of Punjabi Sentences but the system rejects the sentences just because the sentence length is a little bit big. It might be because Punjabi language's Gurmukhi script is using various symbols.

for eg.
**ਸਾਡੇ ਕੋਲ ਠਹਿਰਿਆ ਰਾਤੀਂ ਅਸੀਂ ਬੈਠੇ ਪਿਆਲੋ ਪਿਆਲੀ ਹੁੰਦੇ ਪੁਰਾਣੀਆਂ ਯਾਦਾਂ ਤਾਜ਼ਾ ਕਰ ਰਹੇ ਸੀ ਕਿ ਬਾਪੂ ਜੀ ਨੀਂਦ ਵਿੱਚ ਤੁਰਦੇ ਸਾਡੇ ਕੋਲ ਆਣ ਖੜੇ ਹੋਏ**

The above sentence has **26 words** and **101

[2019-01-17 12:12] nukeador commented on #115
How long does it take to read that sentence?

The current limit is 14 words so reading time just takes 5s.

[2019-01-17 17:25] JRMeyer opened #116 "Add Button "Are you sure this is CC-0?" and "Is this sentence from Wikipedia?""
Just like with excluding numbers (e.g. room 2034), we don't want to have to remove non-CC-0 sentences after-the-fact.

[2019-01-17 17:26] nukeador opened #117 "Really ensure people understand and agree content submitted is public domain"
I got this from the Common Voice team meeting.

There are two important things we need:

- Ensure people see and understand wikipedia content is not OK (This is a common issue even if people are told so)
- Make sure people have to take an action agreeing content submitted is public domain (this can maybe be a checkbox with a text on the first screen on "Add", next to the source one

Looping @mbran

[2019-01-17 17:29] nukeador opened #118 "Ability to see and remove my own sentences"
We need a way for a given user to see all sentences they have sent and provide with the ability to remove them, and maybe the same for an admin user.

Context: What happens if a user realizes some of his/her sentences were not public domain?

[2019-01-17 17:45] nukeador commented on #116
Let's follow-up in #117 where I've pinged Megan too (sorry the wires mixed and we sent it at the same time) :-P

[2019-01-17 17:45] #116 closed

[2019-01-17 17:45] nukeador commented on #117
@JRMeyer We might want to also consider in the future if there is an automated way to check corpus license (I remember someone mentioned a service in the past)

[2019-01-17 17:46] nukeador commented on #118
/cc @JRMeyer

[2019-01-17 17:57] MichaelKohler commented on #117
Should we just move the existing sentence to the first screen or just add a checkbox on the confirm screen where currently the sentence is?

[2019-01-17 18:00] nukeador commented on #117
I think we want to move the notice to the first screen and have a checkbox so people have to read it.

Let's wait for @mbransn feedback here.

[2019-01-17 18:00] MichaelKohler commented on #118
In terms of Kinto permissions, this should be doable if I read the documentation right:

I would need some help in terms of UX though, as there possibly should be search as well?

[2019-01-17 18:17] nukeador commented on #118
Let's keep this idea parked until we decide priority, no need to think yet about UX here.

[2019-01-17 19:40] mbransn commented on #117
Thanks for logging this @nukeador :)

Agreed that a checkbox is a good way to do this and yes, it should be on the first screen. My thinking is to keep this checkbox inline with the flow (note copy changes):
- Add Sentences
- Where are these sentences from?
- [ ] I confirm that these sentences are [public domain](https://en.wikipedia.org/wiki/Public_domain) and I have permission to upload them.
-

[2019-01-17 20:06] MichaelKohler commented on #117
Sounds good to me. However, I'm not sure if it would be clear enough that e.g. books need to be public as well, so maybe that should be iterated again that it needs to be public domain. What do you think?

[2019-01-17 20:11] mbransn commented on #117
Thanks @MichaelKohler -- as public domain encompasses all of the examples given, perhaps we map that into the question instead?

Where are these [public domain](https://en.wikipedia.org/wiki/Public_domain) sentences from?

[2019-01-17 20:53] MichaelKohler commented on #76
We will need to perform some changes on the database, and then this will be done. I will inform @irvin once this is done so he can test and make sure we're not breaking anything.

[2019-01-17 20:59] MichaelKohler commented on #117
So this would make it the following, correct? (just imagine it without the header lines GitHub does for markdown, did I just find a new way of prototyping? :)

# Add Sentences
[LANGUAGE CHOICE]
## Add your [public domain](https://en.wikipedia.org/wiki/Public_domain) sentences here one per line
[Textarea]
## Where are these sentences from?
e.g. myself, podcasts, movie transcripts, books, etc. Read

[2019-01-17 21:33] nukeador commented on #76
@Gregoor FYI that we are doing this change. Please let us know if you have ant flags.

[2019-01-17 21:40] #112 closed

[2019-01-17 22:07] nukeador opened #121 "Ensure locale list is in sync with voice-web"
Let's make sure we are using the same locale list being used by voice-web

https://github.com/mozilla/voice-web/tree/master/locales

[2019-01-17 22:08] MichaelKohler commented on #121
Should we really only gather sentences for locales that are enabled in Common Voice?

[2019-01-17 22:08] MichaelKohler commented on #121
in any case, we definitely should use the same codes though

[2019-01-17 22:18] #113 closed

[2019-01-17 22:31] nukeador opened #123 "Adding sentences does not enforce you to have a language in your profile"
If you don't have any language configured in your account you can still add sentences for any language. This is not the case for review.

We should take a decision:

- Enforce people to add a locale first.

or

- Auto-add languages to profiles based on the ones you have added or reviewed sentences.

[2019-01-17 22:35] MichaelKohler commented on #121
This also possibly blocks the export, as we wouldn't have the same locale codes..

[2019-01-17 22:57] MichaelKohler commented on #76
FWIW, these locale codes match the already existing ones in voice-web, so this should be fine

[2019-01-17 23:15] mbransn commented on #117
@MichaelKohler Your iteration made me go back and assess the intro copy as well, there's a bit of redundancy on the page. Less words in the right places should help a bit, take a look below and let me know thoughts.

## Select Language
[Language Dropdown]

## Add [public domain](https://en.wikipedia.org/wiki/Public_domain) sentences
[Text area w/placeholder: One sentence per line]
## Where are the

[2019-01-17 23:21] MichaelKohler commented on #117
Looks good to me. The only difference I see is "public domain" (in your text) vs. "Public Domain" (in your screenshot). I suppose we want to go with "public domain"?

[2019-01-18 10:48] Gregoor commented on #121
Is a JSON file an API? 🙃
https://github.com/mozilla/voice-web/blob/master/locales/contributable.json

That list should be fairly stable!

[2019-01-18 10:50] nukeador commented on #117
This looks great :-)

[2019-01-18 10:50] MichaelKohler commented on #121
hah, sure, fair enough. I'd argue though that we should take the "all" list and not only the contributable.

https://raw.githubusercontent.com/mozilla/voice-web/master/locales/all.json

[2019-01-18 10:52] nukeador commented on #121
What do we mean by this? Is it currently blocking, might block it in the future...?

[2019-01-18 10:53] MichaelKohler commented on #121
Well, if we have non-matching locales (for example the 3-letter ones), we can't really export it to the correct folder. So currently blocking, yes.

[2019-01-18 11:15] nukeador commented on #121
OK, then let's make sure we are using the right list :-)

[2019-01-18 13:02] nukeador opened #124 "Unify language on profile page (review vs validate)"
In the profile page we are using validated and reviewed for the same purpose, we should unify language.

I suggest we use review, since we use validated in the home page for sentences with enough positive reviews.

Users don't validate, it's the combination of their review what constitutes a validation.

[2019-01-18 13:07] Txopi commented on #113
I tested this again in the [testing sentence collector](https://common-voice.github.io/sentence-collector) and I got the same output. Perhaps it's not running the fixed version.

[2019-01-18 13:09] MichaelKohler commented on #113
Nope, not deployed yet. The bot will add a comment here once it's deployed.

[2019-01-18 13:11] MichaelKohler commented on #88
Additionally, when nothing has been done yet, we show the following sentence:

This should read "No sentences submitted or reviewed, .."

[2019-01-18 13:11] MichaelKohler commented on #124
With my additional comment in #88, is that now a dupe of that one?

[2019-01-18 13:39] #124 closed

[2019-01-18 20:35] #117 closed

[2019-01-18 20:36] MichaelKohler commented on #117
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 20:36] MichaelKohler commented on #113
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 20:36] MichaelKohler commented on #112
:tada: This issue has been resolved in version 1.1.1 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 20:49] #114 closed

[2019-01-18 20:50] MichaelKohler commented on #114
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-18 22:34] MichaelKohler commented on #121
Ok, to summarize:

1) We need to have the same locale codes as voice-web does
2) We only want "soon to be" languages on voice-web (anything that is in translation on Pontoon basically)
3) We can use the list directly from the repo to populate our dropdowns
4) CV/Pontoon does not use one standard for locale codes (ISO 639-1/3 and zh-TW format)
5) Kinto collections can't be created on the fly as we

[2019-01-18 22:39] nukeador commented on #121
I think we need all to follow the same "all locales list", because I don't want to block a locale to start submitting sentences even if they haven't started the site localization.

[2019-01-18 22:41] MichaelKohler commented on #121
ah, then this changes things, probably best if we sync with @Gregoor then, as this will then also have an effect on CV itself, I'd say.

[2019-01-21 10:36] Gregoor commented on #121
Atm we're manually running a script (about once per week, or when pinged by community) that fetches all the locales from pontoon and updates the locale json files.

I guess the problem with creating it eagerly on the sentence-collector side, is that the locale codes might then not match with the ones the Pontoon team chooses?

[2019-01-21 10:39] MichaelKohler commented on #121
Correct. We currently have everything in the ISO 639-1 format, plus (soon) zh-TW, zh-CN, zh-HK (as those do not have separate 639-1 definitions.

[2019-01-21 10:41] nukeador commented on #121
Why not using the same ISO format as pontoon is using? That would avoid any mismatches in the future, right?

[2019-01-21 10:44] MichaelKohler commented on #121
well, from what I can see from the list at https://raw.githubusercontent.com/mozilla/voice-web/master/locales/all.json is that there is no single standard being used. It's  a mix of ISO 639-1 and 639-3 as well as whatever zh-TW is.

[2019-01-21 10:45] MichaelKohler commented on #121
.. but yeah, maybe they have a list we could use. thanks @Gregoor

[2019-01-21 12:51] Gregoor commented on #121
Haven't heard back from that yet, but I realized that we can also get that list through the API:
[code]

[2019-01-21 12:53] MichaelKohler commented on #121
.. which works for currently existing languages, but not for future ones. So we would still need to have a way to create stuff on-the-fly.

[2019-01-21 12:57] Gregoor commented on #121
Right, it only works for languages that exist in Pontoon (which is a superset of what exists in CV). For languages that aren't on Pontoon yet, we might be able to determine which code should be used (I'll get feedback from the Pontoon folk on that).

[2019-01-21 16:33] Gregoor commented on #121
Just got some word back:

[2019-01-22 00:18] gtimoshaz opened #128 ""0 sentenses reviewed. Thank you""
If you click the button "finish review" without actually reviewing sentences, you get this message. I think it should be something like "you did not reviewed any sentences" or even better the button should be inactive.
![image](https://user-images.githubusercontent.com/11595498/51504756-bad09100-1df3-11e9-9b6d-8612fc1d1e25.png)
The same thing happens when you review only one sentence: you get "1 s

[2019-01-22 14:28] ftyers opened #129 "Sentence validator doesn't report which sentences fail the validation"
If there are only 1-5 sentences out of 1000s that fail the validation, it would be good for the tool to show which ones they were.

![captura de 2019-01-22 14-24-52](https://user-images.githubusercontent.com/449545/51541881-d9657500-1e51-11e9-8c43-cff309d76a10.png)

At the moment you just get "one sentence failed" but you have no idea which one it was.

[2019-01-22 14:30] ftyers opened #130 "Ability to mass review sentences"
We checked and reviewed a lot of sentences and sent a [PR](https://github.com/mozilla/voice-web/pull/1720) to Common Voice. It was closed and now we uploaded our sentences to the sentence-collector. But it seems that the only way they can be included is to go through them all and click the thumbs up icon. We already checked the sentences, so this means we will have to check them again. Would it be

[2019-01-22 14:32] MichaelKohler commented on #129
So there is nothing below the "Please check this guidelines"? Can you link me to your sentences so I can test this with the same ones?

[2019-01-22 14:35] ftyers commented on #129
@MichaelKohler https://github.com/ftyers/voice-web/blob/00a92e2ed535fda15d7cbec3f2fead76d3050652/server/data/cv/haval_sents.txt

[2019-01-22 14:37] nukeador commented on #130
Please, note that we haven't launched the beta yet, so the database will be cleaned-up when we move to beta, which is expected in the coming days.

I understand this inconvenience if you have run a review process out of the tool, at the same time we want to ensure people can't mass positive review sentences, that will invalidate the whole review purpose.

Having sentences deeply reviewed is import

[2019-01-22 15:39] ftyers commented on #130
What do you mean "cleaned-up" ? You mean stuff that we have submitted and reviewed will be thrown away? Is it worthwhile me going through and reviewing all of the sentences now, or should I wait until the release?

[2019-01-22 15:40] ftyers opened #131 "Add a single-sentence per window keyboard mode"
Instead of having to click on all of those thumbs, it would be great to have a fast keyboard-only mode, where you could see a single sentence and click "y" or "n" and left/right to go through them.

[2019-01-22 15:43] MichaelKohler commented on #131
see also #55

[2019-01-22 16:44] MichaelKohler commented on #121
We are going for the two-letter format for now, and handle anything else when it comes up

[2019-01-22 16:44] #121 closed

[2019-01-22 18:51] MichaelKohler opened #132 "Create missing CV languages?"
@nukeador  The following languages from https://raw.githubusercontent.com/mozilla/voice-web/master/locales/all.json do not have a Kinto table yet, should we create those?

[code]

[2019-01-22 19:01] MichaelKohler commented on #27
PR: https://github.com/Common-Voice/sentence-collector/pull/133

export: https://github.com/mozilla/voice-web/compare/master...MichaelKohler:sc_export_test?expand=1

[2019-01-22 19:22] MichaelKohler commented on #128
Thanks for filing this, once we have localization with Fluent, we can easily change the case depending on the amount. Until then, it would be quite an ugly hack, so I'll leave it for now. Localization can be tracked in #3

[2019-01-22 19:22] #128 closed

[2019-01-22 21:38] nukeador commented on #132
Yes, we should be in sync. Do we we have the locale names too?

[2019-01-22 22:03] MichaelKohler commented on #129
Hah, interesting. When copy/pasting there might be a new line character at the end, therefore creating a new line in the input field. And we don't filter this out and then decide in the validation that an empty line is not a valid sentence. And then we show the empty line in the list (which is not visible to the eye of course). Yep, we should filter out empty lines from the beginning..

Thanks for

[2019-01-22 22:12] MichaelKohler opened #134 "Cleanup HTML in sentences during export"
If there is HTML in sentences, we should remove it during export.

[2019-01-22 22:13] nukeador commented on #134
We should probably filter this during "add"?

[2019-01-22 22:14] MichaelKohler commented on #134
During "Add" it's already validated as wrong, as it will contain symbols that are not allowed.

[2019-01-22 22:18] #129 closed

[2019-01-22 22:19] MichaelKohler commented on #129
:tada: This issue has been resolved in version 1.2.1 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-22 22:36] ftyers commented on #130
@nukeador I know how it works :) This is not the first set of sentences I have collected, nor the first time I have used DeepSpeech.

[2019-01-22 22:38] ftyers commented on #129
@MichaelKohler no problem, thanks for fixing it!

[2019-01-23 15:16] Gregoor opened #136 "Make connection to Common Voice more prominent"
Put Common Voice in the title / use its logo

_Based on feedback from Alex_

[2019-01-23 15:17] Gregoor opened #137 ""Add Language" copy might be misleading"
It might suggest that the language is directly added to Common Voice. Alex asked for something more explicit like "add language you want to contribute to".

_Based on feedback from Alex_

[2019-01-23 15:18] Gregoor opened #138 "Import from RSS"
A feature request and a bit more "out there".
In the past people have asked if they could just "donate" all the text they've written in their blogs. Hence it'd be nice to have an import from RSS.

_Based on feedback from Alex_

[2019-01-23 15:19] Gregoor opened #139 "Specify preference for sentence type in How-To"
Specify that we have a preference for natural/conversational sentences. Maybe reference the german dataset where we had fun sentences written by a community member, which made using Common Voice itself more fun.

_Based on feedback from Alex_

[2019-01-23 17:21] nukeador commented on #136
+1

[2019-01-23 17:21] nukeador commented on #137
It makes sense, +1

[2019-01-23 17:23] nukeador commented on #138
So the user story here would be something like:

"As a contributor I own a website which already has cc-0 content and I want and easy way to bulk-import all the text there and turn it into sentences for this project"

I see a few challenges here, like figuring out first how to turn a full article into valid sentences. Let's keep it as an idea for the future.

[2019-01-23 17:24] nukeador commented on #139
+1

[2019-01-23 17:50] MichaelKohler commented on #139
@nukeador do you want to take this on?

[2019-01-23 18:35] MichaelKohler commented on #134
.. and the same goes for export, nevermind me

[2019-01-23 18:35] #134 closed

[2019-01-23 18:36] MichaelKohler commented on #132
Yes, will add them tonight so we can run the "prod" commands all at the same time

[2019-01-23 22:45] nukeador commented on #139
Yes, I can try to write something this week.

[2019-01-24 09:38] amanriquez commented on #88
Hi! I'm a beginning bootcamp student, really looking to get into open source and this looks like a first issue I could handle...I'd really like to help. Could I do this? could you give me a little more guidance?

[2019-01-24 10:55] MichaelKohler commented on #88
Hi @amanriquez, great to hear that! Yes, this issue is currently not being worked on, so this would be a great candidate for you!

First of all, it would make sense to get the website running locally, so you can also test your fixes. The https://github.com/Common-Voice/sentence-collector/blob/master/README.md has some documentation on how to set up the local environment. There might be some parts

[2019-01-25 10:49] MichaelKohler commented on #88
This looks like XCode/CLT is not installed. Have you installed a copy of XCode? If not, you'll need to do so, otherwise some dependencies can't be built. If you already have XCode, you probably also need to run `xcode-select --install` to install the XCode command line tools. Can you try to install XCode, install the command line tools and then run `yarn` again and see if everything installs corre

[2019-01-25 12:29] mozillakab opened #140 "Kabyle language"
I can't see kabyle (taqbaylit) on the language list within the beta release: https://common-voice.github.io/sentence-collector/#/

[2019-01-25 12:33] MichaelKohler commented on #140
Thanks for reporting this, we will add this with #132

[2019-01-25 12:33] #140 closed

[2019-01-25 18:07] #27 closed

[2019-01-25 18:07] #137 closed

[2019-01-25 18:10] #136 closed

[2019-01-25 18:12] MichaelKohler commented on #136
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-25 18:12] MichaelKohler commented on #137
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-25 18:12] MichaelKohler commented on #27
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-25 18:15] MichaelKohler commented on #131
Closing this in favor of https://github.com/Common-Voice/sentence-collector/issues/55 so we can keep track of the whole review improvements in one issue for now.

[2019-01-25 18:15] #131 closed

[2019-01-25 18:16] #130 closed, assigned to nobody

[2019-01-25 18:17] MichaelKohler commented on #115
@profsatwinder could you please answer nukeador's question so we could adjust it if needed?

[2019-01-25 21:36] #139 closed

[2019-01-25 21:58] MichaelKohler commented on #139
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-25 22:04] #132 closed

[2019-01-25 22:09] MichaelKohler commented on #76
@irvin this is now in production, you will need to remove "Chinese" from your profile and add the new variants

[2019-01-25 22:09] #76 closed

[2019-01-25 22:10] MichaelKohler commented on #34
The export includes sorting + de-duplication.

[2019-01-25 22:10] #34 closed

[2019-01-26 01:14] amanriquez commented on #88
Ok there it goes..let me know if I did this right!

[2019-01-26 07:00] MichaelKohler commented on #115
Thanks for the response. I'll let @nukeador decide here.

[2019-01-26 07:07] #88 closed

[2019-01-26 07:15] MichaelKohler commented on #88
:tada: This issue has been resolved in version 1.4.1 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-26 07:30] MichaelKohler commented on #53
I wonder how we could make sure that this scales. I'd like to avoid having full lists of blacklisted words in the code base, but maybe there are existing lists out there..

[2019-01-26 09:02] MichaelKohler commented on #90
Will check with Gregor first, so we don't need to rewrite too much if we decide to integrate the collector into voice.mozilla.org itself.

[2019-01-26 10:14] amanriquez commented on #95
:) Yes definitely, will need a little bit more time though to tackle this one.

[2019-01-26 12:17] MichaelKohler commented on #95
Sure, feel free to ask any questions here that might come up :)

[2019-01-28 11:21] MichaelKohler opened #149 "Statistics for all languages"
Currently we can only see statistics for languages that are added to the profile, and the total count. We should add a page where all languages are listed.

[2019-01-28 12:31] nukeador commented on #123
Yeah, that makes sense.

[2019-01-28 12:38] nukeador commented on #115
@profsatwinder Can I suggest you open a topic over Common Voice discourse so other Punjabi speakers can engage to take a decision on how many words are needed for a 5 seconds sentences?

https://discourse.mozilla.org/tags/c/voice/sentence-collection

[2019-01-29 11:57] nukeador opened #150 "Review pagination position"
When reviewing sentences I usually start at the top of the 3 and then go down.

It's a bit inconvenient not having the pagination after the last bottom one and having to go up again for going to the next page (breaks the flow for me)

I suggest we move pagination at the bottom or we include pagination both top and bottom (which is probably too noisy)

[2019-01-30 09:28] MichaelNMaggs opened #152 "Finish Review fails if too many sentences done"
The 'Finish Review' button stops working if you review too many sentences at once (over around 100).  There's no way to save, and all the work done is lost

[2019-01-30 09:36] MichaelNMaggs commented on #150
Yes, agreed

[2019-01-30 12:16] nukeador opened #153 "Clean up unnecessary spaces"
I've detected some sentences in Spanish that contain double spaces "word  word" or unnecessary spaces before commas "word , word" or "word : word" or after dot "word . word"

We should probably clean-up these.

[2019-01-30 12:18] MichaelKohler commented on #153
We should make this language dependent, there are some language where "word: word" is not valid, but "word : word" is. The same probably goes for commas and periods.

[2019-01-30 12:22] nukeador commented on #152
Does stop working or takes too long to finish?

[2019-01-30 12:53] nukeador commented on #152
I just did 34 pages, I clicked Finish and after a few seconds I got that only 50 sentences were reviewed.

Console error (displayed dozens of times)

[code]

[2019-01-30 14:19] nukeador opened #154 "Simple log page"
Now people are uploading a lot of sentences, I think it would be important to have a simple log page (even if it's for internal use) to be able to see what's going on.

User X added X sentences in LOCALE - Source X
User X reviewed X sentences in LOCALE

Or something like that, also to be able to identify abuse.

[2019-01-30 21:18] nukeador opened #155 "A way to avoid a lot of weird sentences when reviewing"
I've found thousands of sentences in Spanish from an old book, most of them have super old and weird language, I would like to skip them all and remove them from my review list, since they are first in the queue and noise in my workflow.

We should probably have a way to vote negative to all sentences from a given upload (or user, but I don't know if this user has uploaded other valid sets).

Chee

[2019-01-30 21:19] MichaelKohler commented on #155
I'd say even in a single upload there might be good sentences though...

[2019-01-30 21:22] nukeador commented on #155
In my mind I see something like this, to offer after selecting reject the option to reject them all

![imagen](https://user-images.githubusercontent.com/531906/52013489-7c1a9500-24dd-11e9-9db6-8d794eb1d444.png)

Or maybe when the site detect you have selected reject for 3 sentences from the same submission.

[2019-01-30 21:44] MichaelKohler commented on #152
@nukeador I can't really say why you hit this specific error. We already refresh the data before editing it. Will need to dig deeper on that one at some point.

@MichaelNMaggs thanks for this issue, I could reproduce this.

[2019-01-30 21:46] MichaelKohler commented on #150
See also #55 .

[2019-01-30 22:08] MichaelNMaggs commented on #152
Thanks. What I see is no response to the 'Finish Review' button if more than about 100 sentences are reviewed (I was able to get it to accept 92, but not over 100).  It's not just a slow response, as nothing happens even after 5 minutes. No error message.

[2019-01-31 09:13] Rubaaw opened #156 "Can't sign up for Sentence Collector"
I tried to create an account using different usernames (alphanumeric, no email), but unfortunately it always gave me **“Login failed.”**
I tried more than different 10 usernames (capital, small and mixed) with different passwords and the result is the same “Login failed.”

 So what should I do to resolve this ?

[2019-01-31 12:17] nukeador commented on #156
I have just created an account with no problem. Which usernames have you tried and can you see any console logs if you open your browser developer tools?

[2019-01-31 12:59] Rubaaw commented on #156
after trying many usernames , finally it worked
im wondering what was the reason !
Thanks 👍

[2019-01-31 12:59] #156 closed

[2019-01-31 14:09] mozillakab commented on #155
If we can also load the old corpus, it's important to get a feature to tag/comment wrong sentences and edit them.

[2019-01-31 14:50] nukeador opened #157 "Surface sentences with positive votes first"
In order to speed up the validation process, in the review queue, we should surface first in the queue:

- Older sentences (creation date)
- Sentences already with at least 1 positive vote (so they can be validated sooner)

Cheers.

[2019-01-31 22:46] #152 closed

[2019-01-31 22:46] #157 closed

[2019-01-31 23:22] MichaelKohler commented on #152
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-31 23:22] MichaelKohler commented on #157
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-01 11:24] jf99 opened #159 "Show all contributed sentences that did not pass the review"
I would like to see which of my contributions did not pass the review process. That way, I could fix the issues in these sentences and resubmit the corrected ones.

[2019-02-01 16:36] MichaelKohler opened #160 "Improve Review Loading with more than 10k records"
Kinto has a hard-limit of 10k results. We need to check our code and decide what to do. Here are the things that just come to my mind right now:

* Export needs to export all - no limit
* The stats page on the home page only shows numbers, maybe we can improve the queries and make Kinto return the full numbers
* The review only loads 10k, which IMHO is a good thing to save bandwidth (we should pro

[2019-02-01 16:37] MichaelKohler commented on #159
Thanks!

[2019-02-01 16:39] MichaelKohler commented on #115
We have started a topic to discuss sentence length. It would be great if you could add your examples in that discussion :)

https://discourse.mozilla.org/t/proposal-sentences-lenght-limit-from-14-words-to-100-characters/35599

[2019-02-01 16:39] #115 closed

[2019-02-01 18:49] nukeador commented on #5
For reference, this fixed my problem, apparently the packages in the default Ubuntu repos are not working.

[2019-02-03 18:32] nukeador commented on #118
How complex a minimum viable version of this would be to implement?

MVP
- List all my sentences.
- Button to remove individual ones.
- Button to remove all from one submission?

Additional features from community feedback
- See my sentences that have been rejected
- Search
- Download all my sentences (and metadata)

[2019-02-03 18:35] nukeador opened #161 "Suggest to add new sentences when "0 unreviewed sentences""
When on homepage a language has all strings reviewed or validated you see:

"0 unreviewed sentences."

We should ask users to add more sentences to that language with a link.

"0 unreviewed sentences. - Add more sentences"

[2019-02-03 18:36] nukeador commented on #161
Same on the review screen when "No sentences to review" is displayed.

[2019-02-04 03:44] amanriquez commented on #95
Hey Michael, just letting you know that I haven't forgotten about this issue. Got busy and I also need to study my React  much more so I can solve this, which I have been doing. If you have the time could you give me some clues as to how this should be solved? Would the spinner be a component by itself? which files would need changing? Can it be from a library or it has to be from scratch? Thank y

[2019-02-04 08:20] dabinat opened #162 "Save the contents of the Add field as a draft until submitted"
I typed a bunch of sentences into the text box then submitted it. It told me that some sentences failed validation (too many words).

The options were to click Submit to submit only the ones that passed or Cancel. I clicked Cancel so I could edit the failing ones and resubmit, but it just returned me to a blank text box, losing everything I had typed.

It should therefore save the contents of the

[2019-02-04 08:36] dabinat opened #163 "Users shouldn’t be able to validate their own sentences"
It seems strange to me that users can validate sentences they submit. Assuming no inadvertent mistakes, all users will presumably vote yes on their own sentences.

A sentence could be unsuitable yet still pass automated validation, and the submitting user could either be malicious or simply not know that the sentence is unsuitable.

It means that sentences may essentially be validated only by a si

[2019-02-04 11:08] MichaelKohler commented on #162
I like that idea, putting this into our backlog

[2019-02-04 11:09] MichaelKohler commented on #55
Closing this as we will have a UX refresh at some point

[2019-02-04 11:09] #55 closed

[2019-02-04 11:57] nukeador commented on #163
Note that users can't validate their own sentences, they can just review them.

Why we took this decision?

Because there is a lot of people who is add sentences that are not their own but external source. We want people to have the chance to be part also of the review.

Having a positive review from the submitter doesn't validate the sentence. Currently a sentence needs at least 3 votes, 2 of the

[2019-02-04 15:07] dabinat commented on #163
Ok, I’m glad to hear that, but if reviewing positively doesn’t actually do anything useful, why have the button there at all? It feels like one of those elevators where the “close door” button isn’t even wired up but the user feels useful by pressing it.

I feel your own submissions should be shown in another place, not the main queue, and you should have the option there to reject or delete them.

[2019-02-04 15:09] dabinat opened #164 "Mobile UI"
The site is difficult to use on a phone. The text is small and a lot of manual zooming and scrolling is required.

[2019-02-04 15:17] nukeador commented on #163
One example of this I experienced the other day. I got 1000 sentences for Spanish from another source, but I didn't write them myself, so is the case for other people. In that situation I would like to be able to review this set.

If submitter don't want to review his own submission that should be fine. What's the issue you see in not voting your sentences and letting others proofread them? You wi

[2019-02-04 15:52] dabinat commented on #163
You can already prevent bad sentences from getting through - there’s an optional review step before you submit. It seems more logical to input the text, have a review step (optional?) and then submit. Otherwise you’re submitting potentially junk sentences to everyone and then removing them after the fact.

But to go back to my original point, I don’t feel like every sentence should *require* a yes

[2019-02-04 19:05] BrunoFischerGermany commented on #164
Yes. That would be fine!

[2019-02-04 19:09] BrunoFischerGermany opened #165 "Submited Sentences in a List"
It would be cool, if i can see all my sentences, which not valided. Then i can change the sentence. Somtimes i wrote a wrong word.

[2019-02-04 19:19] MichaelKohler commented on #165
Yes, we agree. There is already an issue to track this: #157

Thanks for your feedback!

[2019-02-04 19:19] #165 closed

[2019-02-05 08:21] jf99 commented on #163
I support @dabinat 's standpoint here. Currently, I often find myself in the cumbersome situation that the first 100 review pages are full of my own sentences. I see no point in reviewing them again. To get to the first contribution of another user, I have to do 100 mouse clicks. Then I review 3 sentences, click "finish review" and find myself on page 1 again.

So please separate reviewing one's o

[2019-02-05 10:17] Rubaaw opened #166 "Can't sign in to Sentence Collector"
Hello there

I had a previous issue here #156  , after many attempts it worked out and I signed up as **rubaaw**
it was working fine at home, today i tried another PC, and again Login failed appeared !

I'm totally sure that I typed the password and username correctly
Can someone help me in this issue :)

![untitled](https://user-images.githubusercontent.com/33860561/52266259-9c63ad00-293e-11e9-8f

[2019-02-05 10:49] nukeador commented on #163
@dabinat @jf99 How do you think we should count votes in that situation? 0 votes? Always 1 vote by default? We really want to have at least 3 people checking each sentence and 2 positive votes.

How do we optimize your proposal for people sending large corpus not their own? Some of these people don't want to review, just contribute the corpus for community to review.

[2019-02-05 19:22] dabinat commented on #163
I think a positive vote by the submitter is implied by default. As long as the submitter has the ability to downvote or remove sentences then their failure to do so implies approval of the sentence.

I think the solution here is to not put the sentences in the submitter’s review queue, but instead have the review step before submitting. The user is not forced to approve each one but can remove bad

[2019-02-07 17:37] MichaelKohler commented on #95
Sorry for the late answer. Happy to hear you're still interested in fixing this and I'm still happy to help. I'd say the most straightforward way would be to use a CSS spinner, such as https://loading.io/css/ . The CSS for this can be added in `root.css`.

This could then replace the button text in case there is a pending action. So in case of `confirm-firm.jsx` for example, we're currently testin

[2019-02-07 21:29] MichaelKohler commented on #166
I'm not aware of any problems with the login in general. Is there any chance you have miss-typed your password when creating the account and now remember the password you had in mind, but that's not the same as the database has?

[2019-02-08 05:52] Rubaaw commented on #166
Hello Michael
No im totally sure that it is the same.
Actually after approximately one hour it logged in with the same password!
It is not the first time that happened to me, I don't know the exact problem, but it is working well till now
Im afraid to log out or try a new Pc 😢

[2019-02-08 15:33] jf99 commented on #163
Giving 1 positive vote by default doesn't make sense, imo. It is equivalent to decreasing the required number of votes from 3 to 2, so why not doing that? Thinking about how to count votes, @nukeador wrote above:

So, when a sentence only has two votes, both positive, a third vote is still required? Because it wouldn't have any effect.

Apart from that, the "I didn't write it myself" argument has

[2019-02-11 20:21] dabinat opened #168 "Warn about possible errors"
It would be useful for the system to have the ability to flag up sentences with *possible* errors, bringing the submitter’s attention to them, but still allowing the submitter to override and submit them anyway if no errors actually occurred.

Some examples of things that could be flagged up this way:

* Words not in the dictionary
* Repeated words
* Extraneous punctuation (trailing commas, apostr

[2019-02-13 13:29] nicolaspanel opened #169 "ambiguity on some FRENCH sentences"
I recently took some time to review french sentences from clips.tsv and I noticed the ambiguities below:

 - some acronyms are  pronounced as words and other are spelled letter by letter. For a reader that do not know the acronym it can be hard to decide which "mode" to use. Examples:
   - PHP => P H P
   - SNCF = > S N C F
   - CICE => C I C E
   - MODEM => MODEM
   - PAC => PAC
   - INSEE => INS

[2019-02-13 13:41] nukeador commented on #169
Hi,

Thanks for reporting, the current dataset was not created by this tool, we are already enforcing rules to avoid this happens to sentences coming from this tool.

I suggest you comment this in the dataset release topic. Note we plan to run a clean-up to all existing sentences collected before having this tool

https://discourse.mozilla.org/t/multi-language-dataset-beta-release/34373

Cheers

[2019-02-13 13:41] #169 closed

[2019-02-13 17:41] nicolaspanel commented on #169
:+1:

[2019-02-13 18:27] #153 closed

[2019-02-13 20:50] MichaelKohler commented on #160
The first point will be fixed in https://github.com/Common-Voice/sentence-collector/pull/171.

The second point I don't deem important right now, as 14000 would not provide a lot more value than 10000, it's mostly about showing the user that there are unreviewed sentences.

The third point I have no idea how we could fix that.

I'm renaming the issue and setting the discussion-needed flag for poin

[2019-02-13 21:02] #161 closed

[2019-02-13 21:04] MichaelKohler commented on #153
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-13 21:04] MichaelKohler commented on #161
:tada: This issue has been resolved in version 1.6.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-14 14:30] lissyx opened #173 "Submitting from multiple tabs not possible due to shared state"
STR:
 - Open two "Add" links in two tabs
 - Paste content in each, with some too long sentences
 - UI asks confirmation

Expected:
 - When I confirm on one tab, it does not confirm on the other tab

Actual:
 - When I clicked on "Confirm" in one tab, the "Confirm" button on the other tab went gray.

[2019-02-14 14:44] lissyx opened #174 "Change Review Limit from 3 to 5 (was: Better reviewing experience)"
Currently, reviewing scheme is validation of three sentences. While I can understand the need to avoid pushing too much in the face of """basic""" users, when you have lots of sentences and lot of time (e.g., hackathon going on?) it's a waste of time.

At best, it should be possible to have that configured per-profile.

[2019-02-14 15:28] mozillakab commented on #174
You mean you would like display more sentences within the view?
For instance I can review more than 3 at once by browsing to the next pages.
Is that what you mean?

[2019-02-14 15:43] lissyx commented on #174
Yes, being able to display more than three at once.

[2019-02-14 21:12] dabinat commented on #174
I agree, there’s a lot of unnecessary clicking involved.

But is there any particular reason why it defaults to 3? Voice clip validation is in groups of 5.

[2019-02-14 21:19] MichaelKohler commented on #173
Yep, persistent state, maybe not that good after all. I can't say why it was added though, will try to find out.

Thanks for filling.

[2019-02-14 23:04] dabinat commented on #168
I thought of another use-case for this: someone submitted about a hundred French sentences to the English section that I had to downvote one-by-one. It would be good to have some kind of rudimentary language checking that checks for certain keywords and says “Are you sure you want to submit this to English?” if it appears to be another language.

[2019-02-14 23:31] MichaelNMaggs commented on #174
I agree. Three does make it extremely slow, especially as the ‘next page’ button is so far distant from the location of the third vote. It all seems very tiring. Allowing many more sentences per page would help a lot.

[2019-02-15 12:40] nukeador commented on #174
Since having the number of sentences displayed variable might require more coding, we can probably get to an agreement about how many to display and then have in the backlog the possibility to change this in your profile.

@MichaelKohler what do you think? I want to make sure we do reduce our focus on the February roadmap P1s.

[2019-02-15 13:02] MichaelNMaggs opened #175 "Ensure valid ending punctuation for uploaded sentences"
I see from recent sentence validations that quite a few texts are being uploaded with non-standard terminal punctuation (particularly commas) such as

_Robbery, bribery, fraud,_

These are causing differences between reviewers, with some such as myself ignoring the final comma as it makes no difference to the reader, while others reject the text as invalid. This particular example has been accepte

[2019-02-15 18:03] dabinat commented on #174
A better long-term solution would be to simply not have the Finish Review button at all and have them submit and disappear as you press the vote buttons, with the next one appearing at the bottom automatically. Then it doesn’t matter how many there are per page.

Or make it one per page with the ability to skip, like voice validation.

[2019-02-15 18:04] lissyx commented on #174
And if you misclick, then you can't correct :/

[2019-02-15 18:49] dabinat commented on #174
I don’t think that’s difficult to solve. When you click a button it could say at the top “Sentence approved (undo)”. Click undo and it adds it back to the list again.

[2019-02-15 18:53] nukeador commented on #174
Note that we are also trying to make minimal UX decisions for this tool because we hope in the future it will be integrated with the main voice-web app and we'll have proper UX resources taking care of this.

So for now what I suggest is that we stick with a number by default (it seems 5 is a good one to keep alignment with voice-web) and revisit it down the road once more people have used the too

[2019-02-15 22:16] nukeador commented on #166
Did this problem happen again?

[2019-02-15 22:22] nukeador commented on #149
Is there a way aggregated stats don't have to be generated each request? (I'm assuming they are right now)

Maybe there is a way to store them in a kinto table with a timestamp and when stats are requested they are only generated each hour/day whatever and not for each request.

[2019-02-15 23:06] Rubaaw commented on #166
Noo, all is good 👍

[2019-02-15 23:06] #166 closed

[2019-02-16 11:41] MichaelKohler commented on #149
Not as long as we don't have a backend (though we could make it easy and just run a single script on the kinto server that runs scheduled by a cronjob)

[2019-02-16 20:07] MichaelKohler commented on #174
Yes, let's go woth 5 for now. From a technical perspective, a patch for this should be straightforward.

[2019-02-17 05:38] helenatxu commented on #95
Hello @MichaelKohler, I'm looking to make my first contribution and this seems a good one to start with. Is it fixed? Can I take it?

[2019-02-17 09:52] MichaelKohler commented on #95
@helenatxu I'm not sure if @amanriquez is working on something for this, though I'd say 13 days is a good timeframe to assume no. Always hard to judge with open source if a person is working on something everybody's time is limited :)

Do you have any questions regarding the approach I've outlined above? Or do you have a better suggestion?

[2019-02-17 13:04] helenatxu commented on #95
Thanks @MichaelKohler for your answer. I will take a look more in depth and I will get back to you.

[2019-02-17 13:31] helenatxu commented on #95
@MichaelKohler it seems **this** (the page after validating some sentences) is one of the places where it should appear the spinner, right? Where do you expect it to appear in the page? For example in the center of the page, or in the upper right corner?

![screen shot 2019-02-17 at 20 24 26 2](https://user-images.githubusercontent.com/881000/52913604-2c680600-32f2-11e9-92e5-8d4d9b04f2bf.png)

In

[2019-02-17 14:01] MichaelKohler commented on #95
Please note that this is about the sentence collection, not the voice collection. The sentence collection currently lives outside of voice.mozilla.org at https://common-voice.github.io/sentence-collector/ .

The views to change are:
* Add (sidebar) -> initial form there
* Add (sidebar) -> view after initial submission ("confirm")
* Review (sidebar) -> this form when submitting

[2019-02-17 14:03] MichaelKohler commented on #95
Yes, just saw your edit. That's one place I would like to have this. The other two forms mentioned above as well. I fully agree with the centering of that sentence, good catch!

[2019-02-17 14:04] MichaelKohler commented on #95
And I personally would change the content of the button to be a spinner once it gets deactivated. Or alternatively add the spinner to the sentence.

[2019-02-17 15:22] helenatxu commented on #95
@MichaelKohler awesome, I set up all the environment and I already have the project running locally, so I will start right now to test some changes. Thanks for your ideas!

[2019-02-17 17:33] helenatxu commented on #95
Hello @MichaelKohler I was playing around a little bit trying different options. One option could be the to hide the button once deactivated, and instead show the spinner with the text next to it.

Another option would be show **inside** the button a spinner (as in this examples in [https://loading.io/button/](url) ). But the last option takes more CSS code, as I would need to import two different

[2019-02-17 17:45] MichaelKohler commented on #95
Fully removing the button and only showing the text with a spinner is a valid option as well, indeed. Would probably need to test this to judge this better. I think it's worth doing a prototype with this. Would you like to go down that road?

That's quite a lot of lines of CSS, I honestly don't think we benefit a lot if we add that much CSS.

[2019-02-18 02:41] helenatxu commented on #95
@MichaelKohler yes, I will work on it right now

[2019-02-18 02:43] helenatxu commented on #95
Yes, I will work on it right now.

I think the same, that's why I wanted to ask you before working on it. Let's try the hide button option then.

[2019-02-18 05:10] helenatxu commented on #95
Hello @MichaelKohler I finally came up with two solutions :)

I researched a little bit more and tried different solutions I found, so I finally managed to have the spinner inside the button once you clicked on it, at the same time of disabling it and showing the message.

But I tried the hide button and show spinner and text solution, so we can compare both.

I made two prototypes for both soluti

[2019-02-18 10:14] lissyx commented on #174
I think 5 looks like a better compromise for now

[2019-02-18 10:36] helenatxu commented on #102
Hello @MichaelKohler! I see this issue is still open, does it make sense to fix it now?

[2019-02-18 16:26] MichaelKohler commented on #95
Amazing to have both to test with, thanks! I agree with you, I like the button version better as well. And the amount of CSS needed seems to be reasonable as well. Let's go for this :)

[2019-02-18 16:27] MichaelKohler commented on #102
Yes, this still makes sense. Would be great if you want to work on this once the spinner is done :)

[2019-02-19 04:52] helenatxu commented on #95
Great! I'm learning React so I'm relatively new to its syntax and how it works, but I think one good way to implement this solution would be to create a new custom component for this button. Am I right?

[2019-02-19 08:35] MichaelKohler commented on #95
A separate component would be nice, as future changes (e.g. different class name for example) would only need one change compared to three changes without component. Of course, it's one line in the component, so it's gonna be a very small component.

[2019-02-20 04:36] helenatxu commented on #95
I will try that and I will get back to you when I have something working. Thanks!

[2019-02-20 23:22] MeryllEssig commented on #174
At least, some keyboard shortcuts would be cool for changing current page (left/right), and validating next unreviewed sentence (y/n).

[2019-02-21 11:23] helenatxu commented on #95
Hello @MichaelKohler, I think I've found another bug/issue in the code that is causing me problems to solve this.
In **submit-form.jsx**, in the section of the confirmation buttons there is a condition the app uses to display the button and messages, `parsingSentences`.

When you access for the first time to the "Add" section, `parsingSentences` is true. But if you submit any sentence or even if y

[2019-02-21 16:59] MichaelKohler commented on #95
That's odd. At which stage did you log this? This seems to be the complete opposite of what we want. Also, was the sentence displayed even though it shouldn't have been?

* Initially false when going to the "Add" page
* True when clicking the Submit button (until it's done uploading)
* False when canceling

[2019-02-21 18:28] lissyx commented on #174
My two cents, but someone submitted ~3600 french sentences. Validation right now is **painful**. I think an efficient validation scheme would be:
 - 10-20 sentences per page
 - checkbox and not two buttons :+1: / :-1:
 - a checkbox at the top that would tick all

This way, it's much more efficient:
 - I can read fastly and check if it's okay
 - if it's the case, then I use the one-checkbox-for-all

[2019-02-21 18:44] MichaelKohler commented on #150
Will probably depend on whatever we come up with in #174

[2019-02-21 18:51] nukeador commented on #174
Thanks everyone for your feedback, it's going to be super useful once we have time to prioritize this issue.

For context, this is where we are currently focused: https://discourse.mozilla.org/t/sentence-collection-tool-february-2019-milestone-discussion/35166/13

[2019-02-21 19:03] MeryllEssig commented on #174
@lissyx  I'm the one who collected the 3600 sentences, I created a little extraction tool in node.js that extract sentences from a txt book from project gutenberg, and preprocess it to remove sentences with more than 14 words, less than 3 words, and more than 100 characters (among other things). I can open source the tool if someone wants to use it.

But yeah, It's hard to review now with that muc

[2019-02-21 19:04] lissyx commented on #174
I don't want to hijack, but this is something we already had ... https://github.com/Common-Voice/commonvoice-fr/blob/master/project-gutenberg.py

[2019-02-21 19:11] lissyx commented on #174
@MeryllEssig To avoid hijacking the discussion here, I'd suggest to have a look at https://github.com/mozfr/besogne/wiki/Common-Voice-fr and join us on Telegram.

[2019-02-21 19:14] nukeador commented on #174
Can you all please share any work/scripts you have on discourse? I think this is extremely helpful for other communities, we can maintain a topic there about these things :-)

[2019-02-22 04:19] helenatxu commented on #95
Ok, thanks for the clarification. I will check again the behaviour without my code to figure out if I was doing wrong.

In other hand, I feel a bit stuck while trying to get my small component to work in other files, I'm not sure how to do it. Maybe I should just add the lines I need in each view. What do you think?

[2019-02-22 04:48] helenatxu commented on #95
One more question, for example, in this piece of code:
[code]

Would be the same as:

[code]

[2019-02-22 20:11] MeryllEssig opened #178 "Password clear text on inspect"
Hi, I inspected the page and I found that the password was in clear text in the localstorage. I wondered if it wasn't a security issue ?
![Image](https://user-images.githubusercontent.com/9021786/53268324-0c678680-36e6-11e9-8a6c-f5dfb0f40162.png)

[2019-02-23 10:45] MichaelKohler commented on #95
I think that would be fine for now.

And regarding the second comment, yes, that would be the same (though I think the second example would need a third part (not sure though). If `parsingSentences` is true, it outputs the <p> tags, if not it outputs undefined and therefore doesn't get rendered.

[2019-02-23 12:41] MichaelKohler commented on #178
Thanks, we're looking into this. At the current state of evaluation there is no reason to expect that this has been generally exploited, as we already have protection in place for these kind of attacks. And physical access is a whole other topic.

[2019-02-23 14:14] helenatxu commented on #95
Thanks for pointing that out. BTW, regarding getting the small component to work in different files, I finally got it working fine (sorry for freaking out for a moment).

I also discovered what I was doing wrong to get the unexpected value in parsingSentences, it was because I modified the code while running, very silly.

Tomorrow if I have a bit of time I will make the pull request :)

[2019-02-24 07:28] helenatxu commented on #95
@MichaelKohler I already made my PR :)

[2019-02-24 12:25] #43 closed

[2019-02-24 16:00] MichaelKohler commented on #43
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-02-28 09:13] MichaelNMaggs opened #182 "Uploaded sentences not available for review"
My last few collections of uploaded English sentences have disappeared and do not appear among those available for review (to me at least – I don't know whether others can see them).    I hope they  have been properly accepted, and will become available for review some point.

I don't know if this is relevant, but this seems to have happened at the same time that the stated number of unreviewed En

[2019-02-28 12:04] MichaelKohler commented on #182
Good observation, we cap the number of sentences for review display at 10k for now. It doesn't make sense to load all. See #160

[2019-02-28 12:04] #182 closed

[2019-02-28 13:56] helenatxu commented on #102
Right now I'm busy in other bugs for the projects I'm applying for the Outreachy internship, so I will unclaim that issue for now. But if nobody takes it after sometime, I will come back ;)

[2019-02-28 21:56] JRMeyer opened #183 "Home page stats == too slow"
@nukeador - maybe we can calculate the number of sentences collected once a day and cache that number instead of counting in real-time?

This message on the home page takes too long to load.

First you see this:

```Loading sentence collector data...```

Then later, this:

```The Common Voice Sentence Collector has collected 279499 sentences in 29 languages!```

[2019-03-01 14:01] fcsweb2 opened #184 "Brazilian Portuguese pt-BR"
Do not have the Brazilian Portuguese pt-BR

[2019-03-02 14:32] raivisdejus opened #186 "No sentences exported for new locale lv"
Hi,
I was playing around on local with new locale - Latvian (lv), and no data gets exported.

To test I modified the `scripts/exporter.js` to have the following function call ```await exportLanguage(db, 'lv', exportPath);```

I have added and approved several sentences in the app and I see that the Kinto backend gets called, but the `approvedSentences` array is empty.

Asking this here as it seems

[2019-03-02 16:39] MichaelKohler commented on #186
Did you review the sentences with 3 different users? One positive review is not enough, only after 3 votes (with two of them positive) the sentence is marked as approved.

[2019-03-02 17:22] raivisdejus commented on #186
Thanks for note, that was the missing peace. All works fine.

[2019-03-02 17:22] #186 closed

[2019-03-03 20:04] Bullnados opened #187 "Connection between https://voice.mozilla.org and sentence-collector"
Some ideas:

- same UI
- same login data
- linking between the two websites

Or are these two completly indepentend? If yes, clearify this directly on the collector webpage and write down the usage of the collector

[2019-03-03 20:19] Bullnados opened #188 "Review the sentences in https://pontoon.mozilla.org/de/ ?"
Is there a reason why pontoon(backend) isn't used for reviewing the sentences?

[2019-03-04 05:07] Bullnados commented on #159
Perhaps not only my own one, but also all over ones?

[2019-03-04 05:48] Bullnados opened #189 "Possibility to download sentences..."
... in csv for example, selectable per language.
I would check if all/most of the f.e. German words are represented. Here I want use this list http://pcai056.informatik.uni-leipzig.de/downloads/etc/legacy/Papers/top10000de.txt

Perhaps such lists are also existing for other languages?

[2019-03-04 18:58] MichaelKohler commented on #183
Thanks, see also https://github.com/Common-Voice/sentence-collector/issues/149

[2019-03-04 19:01] MichaelKohler commented on #184
@nukeador it seems that the Portuguese in Pontoon is pt-BR, and ours is just Portuguese. I'm not sure if we could just rename it, as it already has sentences and some of them might not be pt-BR compatible. Thoughts?

[2019-03-04 19:02] MichaelKohler commented on #187
Thanks for filing this issue!

@nukeador this sounds like a good thing to do, we should link to voice.mozilla.org whenever we mention it. Thoughts?

The rest IMHO will be tackled later, and wouldn't require an open issue for this to be tracked, correct?

[2019-03-04 19:03] MichaelKohler commented on #188
@nukeador I'll leave this to you

[2019-03-04 19:04] MichaelKohler commented on #189
I like this idea!

[2019-03-04 19:07] MichaelKohler commented on #95
I'll deploy this in a few minutes.

[2019-03-04 19:07] #95 closed

[2019-03-04 19:12] MichaelKohler commented on #178
We've looked into this and have not found anything that needs to be addressed right now. The need to locally store the password will be eliminated in the future once we move to the voice.mozilla.org website anyway. Until then, keep your laptop safe and make sure there is no physical access to it.

[2019-03-04 19:12] #178 closed

[2019-03-04 19:15] MichaelKohler commented on #154
I think this will need an evaluation how we could do this. To my knowledge Kinto doesn't have an easily accessible log for this purpose, and parsing the normal logs might be too much work here. We will need to see.

[2019-03-04 19:18] MichaelKohler commented on #159
@Bullnados what would this enable you to do?

In any case, we should list this per language, so we can also directly cover https://github.com/Common-Voice/sentence-collector/issues/98

[2019-03-04 19:18] MichaelKohler commented on #98
We can directly cover this by https://github.com/Common-Voice/sentence-collector/issues/159

[2019-03-04 19:18] #98 closed

[2019-03-05 07:25] klasrocket commented on #174
Me and a friend also realized how much work it is involved in reviewing sentences and put together a [GreaseMonkey](https://addons.mozilla.org/sv-SE/firefox/addon/greasemonkey/) script to auto set all sentences to 👍 on load, which, as I understand should not violate any rule or purpose. Only tested on Firefox/Linux sofar.
https://gist.github.com/TimGremalm/0b865f14f7e8be23c068bba666ef7a07

[2019-03-05 18:20] nukeador commented on #184
Portuguese should be just one language, same as Spanish, French, German... and then have accents for the different regions (Portugal, Brazil...).

I'll check with Peiying to make sure Common Voice is just enabled in the languages and not the different accents.

[2019-03-05 18:20] #184 closed

[2019-03-05 18:25] nukeador commented on #187
Same URL and login are currently not our priorities, but nice to have in the future if we integrate the collection into the main site.

For links, please add requests for where you think we should have links inside the main site:

https://github.com/mozilla/voice-web/issues

[2019-03-05 18:28] nukeador commented on #188
Pontoon is not a tool to review sentences but to translate a source→target language, it is not designed for this. Localization team can provide a more detailed answer.

We tried in the past experimenting with a similar localization tool for review and it was clearly too confusing for people and very hacky and time consuming to set up property, as well as limited to all our needs.

Feel free to cre

[2019-03-05 18:28] #188 closed

[2019-03-05 18:40] nukeador commented on #174
@klasrocket I would like to ask you not to use scripts to bypass the review process to mass-vote sentences. The whole purpose of this tool is to make sure at least a few individuals have read the sentences, this is really important because if wrong sentences end up in the voice collection they will be useless for the machine learning algorithm, wasting everyone's time.

Please, let us know how to

[2019-03-05 20:41] klasrocket commented on #174
Ok, I see your point @nukeador even if I don't totally agree. Unfortunately I'm a noob so don't expect any major code improvements from me, eager to learn though. But I'll try to contribute with some thoughts :) I agree with previous comments that it's really hard to get things done with the current setup, which I think is more about messing with the mouse than reading/evaluating, I probably won't

[2019-03-05 20:52] MichaelNMaggs commented on #174
The sentences appear for review in the same order that they were submitted (grouped by the number of previous votes, I understand).  Where they come from a public domain source, such as a book, that tends to result in similar words and phrases appearing close together as the sentences sequentially track though the story.  That makes them rather boring to review, and it would be give reviewers a be

[2019-03-05 22:01] nukeador commented on #174
Thanks for the feedback, please keep it coming. We can probably identify what are the smaller improvements we can implement to keep improving the experience.

I'll check this with @MichaelKohler which is the only regular contributor we have for this project (but please, note we are still trying to finish our [February milestone](https://discourse.mozilla.org/t/sentence-collection-tool-february-201

[2019-03-05 22:19] nukeador commented on #174
This issue was moved to https://pucelabits.org/t/better-reviewing-experience/392

[2019-03-05 22:22] nukeador commented on #174
Let me suggest something here, since this issue has turned into a big conversation that might be difficult to follow for other people, I think it's better if we move it to [the project discourse](https://www.discourse.org/github/discourse) with a nice summary and keep individual ideas we come with as individual issues here (but only create them once we have agreement).

I could try to find sometim

[2019-03-05 22:23] nukeador commented on #174
(And sorry for the noise, I was just testing the github-discourse importer)

[2019-03-05 22:36] Bullnados commented on #187
For UI, okay we can discuss, but one login would be pretty nice.
My personal thought was, "Strange, is this realy a project linked with voice? Why I have to create a seperate account?
But if you link on startpage and clearify this, for first fast shot it is okay 👍

[2019-03-05 22:41] Bullnados commented on #159
1. More tranceparency
2. Easy copy&paste and fix the issue, mostly a comma

with comments perhaps an overview of "bad" sentences? Similiar a not best practise?

[2019-03-05 22:50] Bullnados opened #190 "HowTo write and correct sentences"
For me a short HowTo is missing.
First things coming up in my mind:
How a good(bad) sentence should (not) look like.
How long a sentence should be?
How many sentence in one "sentence"? I saw some, with two sentences in one phrase

When can I upvote?
When I should downvote?
Are grammatical errors a reason for a downvote? F.e. wrong comma?
What should I do when a word is written wrong? F.e.: immport

[2019-03-05 22:51] #190 closed

[2019-03-06 11:26] nukeador opened #191 "Clean up orphan commas"
Apparently having commas at the beginning or end of a sentence is problematic for the training, we should automatically clean them up (as we do for extra spaces)

https://discourse.mozilla.org/t/discussion-of-new-guidelines-for-recording-validation/36465/6

[2019-03-09 13:17] #191 closed

[2019-03-09 16:09] MichaelKohler commented on #175
We are now automatically removing starting and end commas in the export, so approving those is totally fine.

[2019-03-09 16:09] #175 closed

[2019-03-11 14:31] nukeador opened #193 "Broken exporter?"
[code]

[2019-03-11 14:33] MichaelKohler commented on #193
Oh right, you want to add the following line to your `.env` file: https://github.com/Common-Voice/sentence-collector/blob/master/.env_template#L6

[2019-03-11 14:53] nukeador commented on #193
That was it, thanks!

[2019-03-11 14:53] #193 closed

[2019-03-14 05:29] dabinat opened #194 "Review queue capped at 10,000?"
The review queue seems to be capped at 10,000 items. No matter how many I review, there are always 3334 pages (on which the last always has a single sentence) and the home page always says there are 10000 in the queue.

Is there a particular reason for this? I don’t see that it would affect performance much as it’s still only showing 3 items per page no matter which page you’re on.

[2019-03-14 18:08] MichaelKohler commented on #194
Thanks for filing this issue. This is due to Kinto having a limit of 10k results per request, so we don't wanna spam Kinto just to get the total records number according to our filtering. More info here: https://github.com/Common-Voice/sentence-collector/issues/160

[2019-03-14 18:08] #194 closed

[2019-03-14 18:52] dabinat commented on #160
#2 could be improved by showing rounded or less accurate numbers. For example, on the Common Voice homepage it just says 1.0k rather than listing every single hour of recording. So it could just say 10.0k+. The problem for me was more that it was implied on the homepage that 10,000 was a definitive amount.

It would also mean the stats would change less often, so there be no need to continue to ge

[2019-03-18 21:16] jotaro-sama opened #195 "Testing the validators"
Hi, I'm working on the validator for the italian language on behalf of the italian Mozilla community. I was following [these guidelines](https://github.com/Common-Voice/sentence-collector/blob/master/shared/validation/VALIDATION.md) and I've also built and run the whole server on my machine, but I can't find any way of testing the validators from the web interface. How should I proceed in order to

[2019-03-18 21:41] jotaro-sama commented on #195
Nevermind, I just realized that the validator filters bad sentences when you try to add them from the "Add" section, telling you which ones are wrong.

[2019-03-18 23:05] MichaelKohler commented on #195
Correct. Thanks for working on this, looking forward to the PR!

[2019-03-18 23:05] #195 closed

[2019-03-19 16:10] jotaro-sama commented on #195
I've already submitted [it](https://github.com/Common-Voice/sentence-collector/pull/197)!

[2019-03-19 20:15] MichaelKohler opened #198 "Script to delete specific sentences"
As we can't 100% make sure that invalid sentences are approved by someone, we should create a script that deletes a set of given sentences from the DB to delete them from the export.

This need comes out of https://github.com/mozilla/voice-web/pull/1890

The script would take:
* a language
* a list of sentences to delete

The script would output:
* Any sentences it couldn't delete
* Number of sent

[2019-03-20 23:21] MichaelKohler commented on #191
:tada: This issue has been resolved in version 1.8.1 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-28 14:05] Adrijaned opened #200 "Common Voice logo not displayed on site"
In the top-left corner of the site there is a common voice logo supposed to be displayed, but it isn't.
![Screenshot_20190328_150410](https://user-images.githubusercontent.com/22203805/55163804-c0878180-516a-11e9-858b-b8a482f2970a.png)

[2019-03-28 14:05] MichaelKohler commented on #200
Good catch, thx!

[2019-03-28 15:42] Adrijaned opened #202 "Disallow sentences starting with lowercase letter"
Would it be possible/viable to update the new sentence validator to disallow any sentences starting with lowercase letters/not ending in `[.?!]`/containing `[?!]` in the middle?

After all, sentences should be spelled correctly - thus starting with uppercase character in almost any language I can imagine. Blacklisting lowercase characters is however better choice than whitelisting uppercase due to

[2019-03-28 17:17] nukeador commented on #202
Having sentences starting with lowercase is not an issue for the deepspeech algorithm.

It seems like a too high bar to ask people to also make sure every sentence starts with upper case. Do you have other ideas to identify sentences that are no making any sense because they are not complete sentences?

[2019-03-28 18:34] Gaet81 commented on #187
I don't understand neither why I need a specific login for this site. Login should be the same for all projects related to the DeepSpeech project...

[2019-03-28 19:07] Gaet81 commented on #3
Any update on this?
from issue #90 it seems that the sentence collection could be merge into the Common Voice website and I know Pantoon is used by Common Voice project...

[2019-03-28 20:04] nukeador commented on #187
We all agree, but unfortunately we haven't had time or resources to do that yet, it's planned for the future. I hope you understand.

Cheers.

[2019-03-28 20:06] nukeador commented on #3
No progress yet. We have been focusing our resources (1 volunteer on his free time) on sentences validation, which we considered more important first (so we ensure all sentences are valid).

[2019-03-28 21:41] MichaelKohler commented on #200
:tada: This issue has been resolved in version 1.8.2 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-28 21:46] MichaelKohler commented on #200
That completely went wrong, let's try that again..

[2019-03-28 21:56] MichaelKohler commented on #200
This is now fixed with version 1.8.3.. https://common-voice.github.io/sentence-collector/#/

[2019-03-28 21:56] #200 closed

[2019-03-29 00:07] MichaelKohler commented on #202
I think that definitely makes sense. I doubt there is any language that this would be valid. And if so, we can still allow it through that locale's validator if necessary. Would you like to create a PR for this? :)

[2019-03-29 00:26] jotaro-sama commented on #202
I can handle this since we already check for `.` in the middle of the sentences in the Italian validator. Do you want me to add the `[!?\.]` check in the middle only, or also to enforce the ending `[!?.]`?

Note: I will make those fully overridable in their specific language validators, since it looks like some languages could use these characters in other ways.

[2019-03-29 00:31] MichaelKohler commented on #202
In the middle only please.

Do you have examples?

[2019-03-29 00:37] jotaro-sama commented on #202
I have none as of now, but just like we are not making the check for the `.` in the middle right now because @Adrijaned says some languages use it in other ways, I'd like to make as few assumptions as possible about how specific validators may want to handle this. Anyway it's no big deal, it'll be overridable just like the other checks are as of now. I'll start working on it ASAP.

[2019-03-30 05:59] dabinat opened #205 "Filter curly quotes"
I noticed when doing some digging into sentence-collector.txt that we have sentences with words like "that's" and sentences with words like "that\xe2\x80\x99s". I'm guessing that's because the writer's word processor changed the apostrophe to a curly quote.

DeepSpeech's alphabet.txt does include apostrophes so I'm not sure how it behaves when faced with curly apostrophes. But regardless of that,

[2019-04-02 19:53] MichaelNMaggs commented on #150
Hi @MichaelKohler Both this and #174 seemed ready to go, but their statuses have now been set back to Needs Discussion.  Do you know what's being awaited please?  Even a simple upgrade from 3 per page to 5 would really help.

[2019-04-02 20:15] MichaelNMaggs commented on #202
Please don't enforce those checks in the middle of sentence. It's extremely common to have [?!] in the middle, for example:

"Where are you going?" he asked.
"Help!" she shouted.

[2019-04-02 20:24] MichaelNMaggs commented on #205
Gutenberg texts are by no means consistent.  Some of their texts also use the same character for both quotes and apostrophes.

[2019-04-02 20:38] MichaelNMaggs commented on #202
In English it would actually be useful to disallow sentences that start with a lower case letter. I think they often occur when the uploader is extracting sentences from a PD source and the sentence tokenizer has split a sentence in the wrong place.

eg where "_We need help. Now." the boy said._" is wrongly split as

We need help.
Now.
the boy said.

The first two parts are OK, but the last part n

[2019-04-02 20:44] Adrijaned commented on #202
Personally, if I have seen a sentence like one of those two you are suggesting, I would probably reject - It is not a converationary sentence, and there might be some inclarity in the pronounciation of the sentence (+ with the sheer amount of sentences when in doubt, just reject)

[2019-04-02 21:18] MichaelKohler commented on #150
Agreed, let's move forward here and move the position to the bottom. As indicated at https://discourse.mozilla.org/t/common-voice-sentence-collection-tool-launch/35427/18?u=mkohler it would be great if you could create a new topic regarding UX :)

[2019-04-02 21:19] MichaelKohler commented on #174
Agreed, let's create a Discourse topic, I've also indicated that at https://discourse.mozilla.org/t/common-voice-sentence-collection-tool-launch/35427/18?u=mkohler. For now let's put the limit per page from 3 to 5 as discussed further above as first step.

[2019-04-02 21:22] MichaelKohler commented on #174
Here is the new topic: https://discourse.mozilla.org/t/suggestions-for-the-sentence-collector/37734/3

[2019-04-03 13:00] Mte90 commented on #174
I saw now 5200~ Italian sentences to review and 3 for every view is like a big job also because loading is also not very fast.

I think that we can copy the UI from localization tools where the sentences are like 20-50 so it is more fast.

[2019-04-03 13:03] Mte90 opened #206 "Notifications for languages"
Right now to see if there are new sentences I have to go on the website, wait for loading and start doing the review.
It will be more simple to receive an email notification, so we can organize as team to review them in time instead after months.

[2019-04-09 15:58] MichaelNMaggs commented on #202
@nukeador, in reply to @Adrijaned's request you've said that

_> Having sentences starting with lowercase is not an issue for the deepspeech algorithm._

Even so, there are strong practical volunteer-related issues for rejecting such fragments.

They are non-grammatical, and fail the stated test that "_**The sentence must be grammatically correct**_" (see the existing rules at https://common-voice

[2019-04-09 16:59] nukeador commented on #202
By your observations, what's the rate of sentences that make sense vs don't make sense from the ones starting with lower case?

[2019-04-09 17:09] MichaelNMaggs commented on #202
I'd say that the vast majority of texts starting with a lower case letter don't make sense when read alone.  Very few indeed (I'd guess only a few percent) are full sentences, or fragments that could be read that way.  Almost always, the most one can make of most of them is "_this is a partial sentence that I can't fully understand, but I realise that something must be missing_".

[2019-04-11 15:27] nukeador opened #207 "Just one Swedish"
Hi,

I see we currently have two Swedish locales to select from the profile.

Pontoon just has sv-SE and that's the one we are exporting, which has no sentences.

The other Swedish is not being exported and has more than 5K validated sentences. Can we make sure everything is under sv-SE? :-)

Thanks!

[2019-04-11 15:30] nukeador commented on #207
Once fixed please inform community here: https://discourse.mozilla.org/t/enable-swedish-for-voice-collection/38133

[2019-04-12 18:30] #207 closed

[2019-04-12 18:31] MichaelKohler commented on #207
:tada: This issue has been resolved in version 1.8.7 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.8.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-13 16:28] pinage404 opened #208 "Add OAuth (Firefox, GitHub, Google) authentification like Common Voice website"
I have an account with Google (it was the simplest option at the moment), i don't find any place to set a password on Common Voice website, so i don't know how to use my Common Voice account to login

I would like to be able to login with OAuth methods (Firefox, GitHub, Google) like in the Common Voice website

[2019-04-13 16:58] dabinat commented on #202
Although I am also struggling to think of situations in English where starting with a lowercase letter would be valid, this might be best addressed by having hard and soft validation failures as outlined here: https://github.com/Common-Voice/sentence-collector/issues/168

So the site flags up the sentence as possibly being incorrect and the submitter can choose to override it if necessary.

[2019-04-13 22:52] MichaelKohler commented on #208
Hi, thanks for filing this issue. This will come at some point, though there are currently other priorities. I'll move this to the backlog.

[2019-04-14 09:48] #150 closed

[2019-04-14 09:48] #162 closed

[2019-04-14 09:48] #173 closed

[2019-04-14 09:48] #174 closed

[2019-04-14 09:48] #187 closed

[2019-04-14 09:48] MichaelKohler commented on #174
:tada: This issue has been resolved in version 1.8.8 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.8.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-14 09:48] MichaelKohler commented on #150
:tada: This issue has been resolved in version 1.8.8 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.8.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-14 09:48] MichaelKohler commented on #162
:tada: This issue has been resolved in version 1.8.8 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.8.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-14 09:48] MichaelKohler commented on #173
:tada: This issue has been resolved in version 1.8.8 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.8.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-14 09:49] MichaelKohler commented on #187
:tada: This issue has been resolved in version 1.8.8 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.8.8)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-14 10:16] MichaelKohler commented on #189
We could just point to the API (review queue) and set the "download" flag on the link, if filters in the URL work as I'd expect. Will have a look.

[2019-04-14 10:31] MichaelKohler commented on #163
I'm closing this as I understand we're on the same page. If this is not correct, let's open a discussion on Discourse.

[2019-04-14 10:31] #163 closed

[2019-04-14 10:34] MichaelKohler commented on #189
Nope, that won't work as we could only get the first 10k sentences like that.

[2019-04-15 09:29] Mte90 opened #209 "How is the author of the strings?"
I was wondering if there is a way to reach who uploaded the strings to discuss the kind of content that uploaded.

[2019-04-15 09:32] Mte90 opened #210 "Autosubmit when all the sentences are marked"
Because It is very boring with only 5 to press all this buttons to review sentences. For italian we have 1040 pages of sentences...
Or I will do an extension for that 😂

[2019-04-15 09:38] MichaelKohler commented on #210
Existing Discourse topic, https://discourse.mozilla.org/t/suggestions-for-the-sentence-collector/37734. Can you add your suggestion there? Thanks

[2019-04-15 09:38] #210 closed

[2019-04-15 10:23] MichaelKohler commented on #209
You can get the Italian sentences through https://kinto.mozvoice.org/v1/buckets/App/collections/Sentences_Meta_it/records. You can then also filter by username for example: https://kinto.mozvoice.org/v1/buckets/App/collections/Sentences_Meta_it/records?username=Jean

[2019-04-15 10:23] #209 closed

[2019-04-15 12:33] Mte90 commented on #209
As I can see from the JSON the same uploaded of the sentences can vote them.
This perhaps doesn't help on validating them, as I can remember to get approved require only 2 approval.

[2019-04-15 12:35] Mte90 commented on #209
Also now that I have the username how I can find his profile to reach the author?

[2019-04-15 12:38] MichaelKohler commented on #209
This perhaps doesn't help on validating them, as I can remember to get approved require only 2 approval.

See https://github.com/Common-Voice/sentence-collector/issues/163

There are no profiles. If you can't do anything with the username, we won't be able to help here.

[2019-04-15 12:45] Mte90 commented on #209
Ok I have no idea who is Jean and reach him to discuss about the content he uploaded :-/

[2019-04-15 12:52] Mte90 commented on #198
I like that, this enable to automatize the removal of sentences also by their content like we did with the txt files with other scripts instead now that is manually.

[2019-04-20 14:31] Bullnados commented on #189
This monolog looks strange. It  seems that you are fighting your an other me. xD

[2019-04-20 14:59] Bullnados commented on #187
Is it possible to split this issue? Atm only note in Website is implemented.

[2019-04-20 15:02] MichaelKohler commented on #187
Not sure I understand. This is implemented in the Sentence Collector. For voice.mozilla.org issue tracking happens at https://github.com/mozilla/voice-web/issues

[2019-04-21 07:54] Bullnados commented on #187
At the moment same UI and login is still missing,
So I would create two new issues to track  that missings

[2019-04-23 11:46] Adrijaned opened #211 "Delete all submissions from person"
Through the course of reviewing past few hundred sentences, I've noticed one thing among them except for the horrible line separators that are almost random - they are all Matrix themed. However, only just now it struck to me what they really are - someone copy-pasted the whole subtitles from the Matrix movie(s?), which would explain a lot of the weird separator. That is however a huge issue, as t

[2019-05-05 15:44] Txopi opened #212 "Review all the Basque sentences"
Some months ago, just after the Sentence Collector data-base was cleaned up, I loaded all the Basque sentences in the Sentence Collector and you deployed (great!) them on Common Voice, but the truth is that I never reviewed the sentences one by one.

Time goes by and Basque people is working hard to record as many clips as the can. I'm not sure if in the future any user will run out of sentences.

[2019-05-06 15:15] TeSantana opened #213 "Remember my password"
Hi,
I was trying to login into https://common-voice.github.io/sentence-collector/#/login
![imagen](https://user-images.githubusercontent.com/50135707/57234783-b1290d00-7021-11e9-9446-186fc5032e8d.png)

I forgot my password. I've tried with different ones until I logged in finally.
I was looking for some link to help me to find a way to get a new one, but it doesn't exist.

Nice to have a way to ge

[2019-05-06 15:43] TeSantana commented on #211
Hi,
It's happening the same in the Spanish language. Not with Matrix, but with a Mexican book (Angelina). It's a very old one but I've searched for information regarding the use.

I've found this information on the National Library of Spain:

_Access and/or restricted use. The present work presents restrictions regarding its reproduction, distribution, public communication or transformation; howev

[2019-05-09 17:49] MichaelKohler commented on #212
I'll defer to @nukeador for this.

[2019-05-09 17:49] MichaelKohler commented on #211
I'll defer to @nukeador for this.

[2019-05-09 18:35] roshangm1 opened #215 "Hard to search for languages from the dropdown"
It's hard to find a language from the drop down list

[2019-05-09 18:58] nukeador commented on #211
If these users are submitting content violating our guidelines, yes, we need to delete that.

@MichaelKohler If there is an easy way for us to do it, go for it.

[2019-05-09 19:00] MichaelKohler commented on #211
That's what I deferred to you for, sorry for not being specific. The second case seems obvious to me.

The Matrix subtitles might be coming from opensubtitles, which we (at least at some point) even suggested.

[2019-05-09 19:04] #215 closed

[2019-05-09 19:06] MichaelKohler commented on #211
And for this it's either everything from that user, or nothing. So there could be valid and already approved sentences in that as well. There is no way for me currently to only choose a certain submission to delete.

[2019-05-09 19:10] nukeador commented on #211
It seems people here already checked copyright and they are not public domain.

If we can check if these users also submitted other stuff would be great, but all green to remove all their sentences.

[2019-05-09 19:15] nukeador commented on #212
Hi there,

Unfortunately the agreement we got is that we won't bypass sentence collector workflow, I know this can be a bit inconvenient.

We are currently investing our time to find a better solution for the future where we can automate most of the process and extract from large sources:

https://discourse.mozilla.org/t/extending-our-sentence-collection-capabilities/38783/

But it's going to take

[2019-05-11 12:38] #212 closed

[2019-05-11 15:58] MichaelKohler commented on #211
So, I quickly looked these up:

* Czech sentences: these come from opensubtitles, which we actively advertise on the "How To" in the sentence collector... It doesn't seem there are other sentences uploaded by this user, so we could delete all of that user. @nukeador I think this is fine? If not, we also need to remove that reference in the HowTo..
* Spanish book: this has https://librivox.org/ange

[2019-05-11 15:59] MichaelKohler commented on #211
Also, if opensubtitles is not ok, we might also want to check existing sentences for that source.

[2019-05-11 18:40] MichaelKohler commented on #211
I've deleted the Librivox sentences and run a new export: https://github.com/mozilla/voice-web/pull/2032

Waiting for @nukeador regarding opensubtitles before proceeding.

[2019-05-12 19:54] Adrijaned commented on #211
Other sentences that made sense that I now recall in the czech dataset appear to come from "Klub Rváčů"/"Fight Club", which I can not find proof of being in the public domain either. I have already passed all these sentences a while ago, approving most of them as they were gramatically correct, but since we are already dealing with rights...
Try searching for keywords "Tyler Durden" or "První prav

[2019-05-13 01:53] roshangm1 opened #217 "I should be able to update the sentences that I have submitted (on the Sentence Collector itself)."
I think, I should be able to make changes in the sentences that I collect in the Sentence Collector platform.
Moreover, I wonder if there can also be a way where there are 1 or more reviewers who have power to force update the sentences (to fix minor issues) while reviewing.

[2019-05-14 12:11] nukeador commented on #211
Opensubtitles will depend on the source, I suspect some will be public domain, some won't.

[2019-05-15 19:26] MichaelKohler commented on #211
I've removed the Matrix OpenSubtitles entries and created a new export: https://github.com/mozilla/voice-web/pull/2037/files . However, it seems that none of the deleted sentences were already exported.

Try searching for keywords "Tyler Durden" or "První pravidlo Klubu rváčů" (unsure about capitalization in this one)

@Adrijaned These are marked as "theatre play (old enough to become public domai

[2019-05-15 20:21] Adrijaned commented on #211
@MichaelKohler I suspect there should be a link in your comment? Also, the book was written in 1996, and the author is still alive as far as wikipedia goes.

[2019-05-15 21:00] MichaelKohler commented on #211
Yes, there should have been this link, sorry. https://kinto.mozvoice.org/v1/buckets/App/collections/Sentences_Meta_cs/records

In that case, I'll assume there is no theater piece that is in Public Domain containing these sentences and delete these sentences tomorrow.

[2019-05-15 21:26] Adrijaned commented on #211
@MekliCZ just to make sure - didn't I miss anything about those sentences? So that I am not the only source of truth in here.

[2019-05-15 21:42] MekliCZ commented on #211
We have collected these sentences through our own Czech sentence collector (before the mozilla one was launched). Sentences from Klub rváčů/Fight club are from @zelitomas (his university theatre was playing that game) and as far as I know, they are public domain.

[2019-05-15 21:44] MekliCZ commented on #211
Please, @zelitomas, confirm that these sentences are public domain OR tell @MichaelKohler to delete them :)

[2019-05-20 17:39] singhvisha commented on #102
hi want to work on this bug

[2019-05-20 17:41] singhvisha commented on #102
Hi @MichaelKohler , i want to work on this issue..

[2019-05-20 17:42] MichaelKohler commented on #102
@singhvisha sure, go ahead! I'm happy to help if you should have any questions. You can find the instructions to set up the project at https://github.com/Common-Voice/sentence-collector/blob/master/README.md

[2019-05-21 11:34] singhvisha commented on #102
hi @MichaelKohler , After installing all Prerequisites and cloning the voice-web repository locally,
when i run the frontend by running the command "yarn start",
it show this at last and nothing is happening --
E]     at processImmediate [as _immediateCallback] (timers.js:729:5)
[BE]      code: 'ECONNREFUSED',
[BE]      errno: 'ECONNREFUSED',
[BE]      syscall: 'connect',
[BE]      address: '127.0

[2019-05-21 11:36] MichaelKohler commented on #102
@singhvisha The Sentence Collector is its own repository, it looks like you are in the wrong repository. This output comes from the voice-web repo, which you won't need to fix this here. Can you make sure that all the commands from the README are run in a checked out repository from https://github.com/Common-Voice/sentence-collector ?

[2019-05-21 13:14] Adrijaned commented on #211
Yet another bunch of sentences I encountered are from the book "Honzlova" ("Summer In Prague"), which is (based on information provided by the Prague City Library) copyrighted too. Search for `I marxistu`

[2019-05-21 13:53] singhvisha commented on #102
hi, thanks for help.
I will soon submit my first patch

[2019-05-21 17:23] shvmsrma commented on #102
Hello, @MichaelKohler  I would like to work on this issue.

[2019-05-21 17:25] MichaelKohler commented on #102
@shvmsrma Currently @singhvisha is working on this issue. Would you be interested in tackling https://github.com/Common-Voice/sentence-collector/issues/123?

[2019-05-21 17:26] shvmsrma commented on #102
Sure please assign me #123

[2019-05-21 17:27] MichaelKohler commented on #123
@shvmsrma is interested in working on this. Feel free to write here if you have any issues setting up the dev environment according to the README at https://github.com/Common-Voice/sentence-collector/blob/master/README.md

[2019-05-22 08:56] singhvisha commented on #102
hi @MichaelKohler, Is I have to add alert message when sentence are being uploaded?
Am i moving in the right direction?

[2019-05-22 08:58] singhvisha commented on #102
hi @MichaelKohler , Is i have to add alert message when user tried to close the window while sentence are being uploaded ?
Am i moving in the right direction?

[2019-05-22 10:51] alejandroclose commented on #102
@MichaelKohler Do you have any other "good first issue" for a junior dev? :)

[2019-05-22 11:13] singhvisha commented on #102
No

[2019-05-22 11:39] MichaelKohler commented on #102
Am i moving in the right direction?

Yes, when sentences are being uploaded, we show a spinner. The same Redux mechanism can be used to register an `onunload` listener that prompts the user if they really want to quit while the sentences are being uploaded. Once the sentences are all uploaded, we should remove that listener again.

[2019-05-22 11:43] MichaelKohler commented on #102
@alejandroclose unfortuntely not right now. A lot of the pending issues either need a discussion first, or require a "real" backend so we can better handle things. If you're using the Sentence Collector and find a bug that could be easily fixed, I'm happy to accept PRs though.

Until we have more good first issues, would you be interested in contributing to the Dev Tools? You can find these reposi

[2019-05-22 11:54] MichaelKohler commented on #211
Thanks, I will have a look!

@zelitomas any update from you on this?

[2019-05-22 17:51] MichaelKohler commented on #211
These sentences were uploaded by "meklicz" and come from the initial voice.mozilla.cz website. Therefore I can't just remove all of that user's sentences and will need more info for this (preferably a full list of sentences that would need to be deleted).

[2019-05-22 18:26] MekliCZ commented on #211
I’m abroad, but I’m flying home today, so I’ll try to send you the list of sentences from Honzlova.

22. 5. 2019 v 19:51, Michael Kohler <notifications@github.com>:

[2019-05-25 15:50] #198 closed

[2019-05-25 15:53] MichaelKohler commented on #118
For now let's go with the following:

* Additional section in the menu "My sentences"
* Sentences that got submitted by the current user are listed there (similar to the upcoming 'Rejected Sentences')
* Each sentence has a remove button next to it
* Clicking the button removes the sentences from the database

[2019-05-25 15:59] MichaelKohler commented on #164
Let's keep this simple for now:

* Let's use the existing design
* Adapt to fit to mobile where possible
* Menu could be in a hamburger menu
* All content pages are adapted to wrap correctly on mobile
* Once the sidebar is in a hamburger menu, we already should have quite a lot of screen estate saved
* The Review content is probably the most challenging.

Does somebody want to come up with an init

[2019-05-25 17:29] #159 closed

[2019-05-25 17:30] MichaelKohler commented on #118
PR for 'Rejected Sentences' as inspiration on how to tackle this: https://github.com/Common-Voice/sentence-collector/pull/219/files. This will show how to change the navigation, and how to add new pages. Of course the content and file names would need to be different for this PR ;)

[2019-05-25 17:32] MichaelKohler commented on #159
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-25 17:32] MichaelKohler commented on #198
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-25 17:32] MichaelKohler commented on #211
I have now added a script to delete specific sentences. It would be great if you could create a txt file with one sentence per line for these sentences that need to be deleted. Then I can feed this directly to my script.

[2019-05-27 00:15] alejandroclose commented on #164
@MichaelKohler  I am more than happy to help with this one!!! Can you assign it to me? I'll try to have it in the next couple of weeks, ok? :)

[2019-05-27 08:06] iveskins commented on #183
The rejected page seems slow also.
I just made a new account with nothing submitted and it is stuck on . Loading rejected sentences..

[2019-05-27 08:20] iveskins opened #220 "Add review criteria to Review Form"
It would be nice if the review page could have a tooltip or expandable text area or something to provide reference to the review criteria directly as one is reviewing.

[2019-05-27 17:42] MichaelKohler commented on #220
I think that's a good idea.

[2019-05-27 17:44] MichaelKohler commented on #164
@alejandroclose feel free to work on it, unfortunately you'd need to be listed as contributor to this repository, which only admins can do (I can't). So I don't think it's feasible to assign bugs for now.

[2019-05-27 21:31] MichaelKohler commented on #90
Let's go ahead with this. If somebody would like to set up the infrastructure as described in the first comment, that would be great :) as said, for now we only need one test each. We then can add more over time. (If you want to create and add more tests, go for it!)

[2019-05-29 14:56] MichaelKohler opened #221 "HowTo: Make users check for CC0 when using opensubtitles.org"
Currently we're suggesting opensubtitles.org. However some of that work is a derivative of non-CC0 work, which we should not include in the Sentence Collector. We should add an additional paragraph telling the user to check that it indeed is CC0.

[2019-05-29 14:58] MichaelKohler commented on #102
@singhvisha how is it coming along? Is there anything I can help you with? Happy to help! :)

[2019-05-29 14:59] MichaelKohler commented on #123
@shvmsrma how is it coming along? Is there anything I can help you with? Happy to help! :)

[2019-05-29 15:17] shvmsrma commented on #123
Sir, I am working on it probably will have my first PR soon

On Wed, May 29, 2019 at 8:29 PM Michael Kohler <notifications@github.com>
wrote:

--
*Shivam Sharma*
Pre-Final Year
Communication and Computer Engineering
The LNM Institute of Informational Technology

[2019-05-30 03:21] singhvisha commented on #102
Hi, sorry for any progress. my end-sem was going on.  Now I will do my best..

[2019-05-31 16:10] MichaelKohler commented on #3
WIP Branch: https://github.com/MichaelKohler/sentence-collector/tree/feature/localization

- [ ] Convert all text instances to ftl
- [ ] Make changeLocalesWithURL and direct links work
- [ ] Figure out strategy to translate

[2019-06-03 12:03] gion-andri opened #224 "Change logic to decide if sentence is approved"
I think, the following logic to decide, if a sentence was approved, does not make any sense:

[code]

Lets say, a record was marked as valid two times. To be approved, it is necessary that a third reviewer reviews the sentence. Even if the third marks the sentence as invalid, the sentence would be approved. So the third reviewer has no effect (his time is actually just wasted).

I think, something

[2019-06-03 19:41] MichaelKohler commented on #224
Hi @gion-andri, good to hear from you! I can totally see how this impacts smaller communities such as yours :) I fully agree that this should be fixed and I wanted to do that for a long time now, but I totally forgot by now as I didn't create an issue. Thanks for bringing this up again!

Would love to have a PR for this :)

Thanks!

[2019-06-03 21:18] gion-andri commented on #224
@MichaelKohler Yeah, long time no see :)
Yes, as our community is very small and we need to collect sentences (and finally voice samples) for 5 different idioms, every minute we can save by improving processes is quite valuable :)

[2019-06-04 19:22] #224 closed

[2019-06-13 21:52] MichaelKohler commented on #211
Any update here?

[2019-06-14 17:52] MichaelKohler commented on #224
:tada: This issue has been resolved in version 1.10.2 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.10.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-15 17:30] soumendrak commented on #211
I have added all 10,000 sentences from Wikipedia for Odia language. Later I understood I have to delete those. Is there any way to do?

[2019-06-16 01:29] MichaelKohler commented on #211
Have you uploaded other sentences as well? Or did you set a specific source for these? With username+source I could delete them.

[2019-06-16 07:44] soumendrak commented on #211
Username: `soumendra`
Please delete all the sentences. All are from `or.wikipedia.org`

[2019-06-17 04:23] isemaj commented on #149
Hi, can I join?

[2019-06-17 13:59] soumendrak commented on #211
@MichaelKohler , Thanks for deleting around 5k sentences. However, 5k~ more are still there. Will it be possible for you to delete all my uploaded sentences?

[2019-06-17 14:04] MichaelKohler commented on #211
I started the script yesterday but had to leave and it didn't finish in the background. I will delete the rest over the next few days.

[2019-06-18 22:23] MichaelKohler commented on #211
@soumendrak this is done now. Thanks for reporting!

[2019-06-19 18:46] #221 closed

[2019-06-19 18:47] MichaelKohler commented on #221
:tada: This issue has been resolved in version 1.10.3 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.10.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-20 21:27] MichaelKohler commented on #164
See also https://github.com/Common-Voice/sentence-collector/pull/223#issuecomment-499759209

[2019-06-26 11:23] danielinux7 opened #230 "Sentence collector shows zero counter for Abkhazian"
Sentence collector shows zero counter for Abkhazian, here is a screenshot:
![Screenshot from 2019-06-26 14-21-34](https://user-images.githubusercontent.com/2645266/60176094-ff86ab00-981d-11e9-8a77-0a841cc947a0.png)

[2019-06-26 11:26] danielinux7 opened #231 "Can't add a language to sentence collector"
Can't add arabic language to sentence collector, here is a screenshot:
![Screenshot from 2019-06-26 14-25-44](https://user-images.githubusercontent.com/2645266/60176217-555b5300-981e-11e9-942e-ab53b8d1b5ba.png)

[2019-06-26 12:18] nukeador commented on #231
Thanks for reporting. I've already informed about this to @MichaelKohler

(It might take a while since he is on a different timezone and off for this week)

[2019-06-26 12:19] nukeador commented on #230
Thanks for reporting. I've already informed about this to @MichaelKohler

(It might take a while since he is on a different timezone and off for this week)

[2019-06-26 20:15] MichaelKohler commented on #230
I personally don't have access to the server and it seems there are some issues restarting the backend service. For the time being, I'll put up a banner explaining it until we've successfully restored services.

[2019-06-26 20:15] MichaelKohler commented on #231
I personally don't have access to the server and it seems there are some issues restarting the backend service. For the time being, I'll put up a banner explaining it until we've successfully restored services.

[2019-06-30 17:57] psubhashish opened #234 "Request for accessibility features"
The thumbs up and thumbs down emojis are not very accessibility-friendly. When checked for thumbs up the green background and the yellow-orange emoji look pretty confusing. Also the thumbs up and thumbs down icon look very similar and reduced the speed of reviewing especially when one can otherwise do it faster.

I'd suggest for high contract (preferably black and white) icons and background like

[2019-07-01 09:59] sonyshubham commented on #102
@singhvisha are you still working on this?

[2019-07-01 10:08] sonyshubham commented on #123
@shvmsrma are you still working on this?

[2019-07-01 10:09] shvmsrma commented on #123
Yes I am working on it

Shivam Sharma
Pre-Final Year
Computer and Communication Engineering
The LNM Institute of Information Technology

On Mon, 1 Jul, 2019, 15:38 Shubham Soni, <notifications@github.com> wrote:

[2019-07-02 15:58] #234 closed

[2019-07-02 15:59] MichaelKohler commented on #234
:tada: This issue has been resolved in version 1.10.6 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.10.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-03 17:01] Adrijaned commented on #211
@MekliCZ Just as a reminder, will you be able to get a list of all the sentences from Honzlova?

[2019-07-10 13:59] nukeador commented on #231
Is this issue already solved?

[2019-07-10 18:28] #231 closed

[2019-07-11 16:21] filips123 opened #237 "Possibility for articles from Wikipedia"
Would it be possible to allow sentences from articles from Wikipedia? This would massively increase the number of sentences.

"How to" page says:

So that we can't use articles from Wikipedia **yet**. This should mean that they will be supported at some time. When will that be?

---

Also, is it currently possible to use sentences from Wikisource? Most of the content there is in the public domain.

[2019-07-11 19:14] nukeador commented on #237
We can't use sources that are not public domain, wikipedia is not.

Having said that, this is where we are right now:

https://discourse.mozilla.org/t/extending-our-sentence-collection-capabilities/38783

Cheers.

[2019-07-11 19:14] #237 closed

[2019-07-11 19:30] gion-andri opened #238 "Enable rm-vallader"
Mozilla Voice now supports rm-vallader (https://github.com/mozilla/voice-web/commit/429e8dc96849f753f2a6d05600565c81af511122).

Could we enable it for the sentence-collector as well?

[2019-07-11 20:35] filips123 commented on #237
Most Wikipedia articles are licenced under *CC BY-SA 3.0* which requires attribution to the original author. Would it be possible to somehow implement this?

[2019-07-12 05:44] MichaelKohler commented on #238
This is deployed.

[2019-07-12 05:44] #238 closed

[2019-07-12 05:45] MichaelKohler commented on #230
This has been fixed in the mean time.

[2019-07-12 05:45] #230 closed

[2019-07-12 08:14] nukeador commented on #237
Unfortunately no, currently Common Voice dataset is released under Public Domain CC-0, which is not compatible with CC BY-SA.

Please refer to the discourse topic I linked for more details on the alternative and legal ways we are exploring.

Thanks!

[2019-07-17 15:43] mozillakab opened #240 "number of validated/rejected sentences"
#Stats seem blocked at 10 000

![2019-07-17 16_39_56-Common Voice Sentence Collector](https://user-images.githubusercontent.com/7033740/61390037-4ebe7980-a8ba-11e9-9a53-f9ab3a53c701.jpg)

[2019-07-25 15:04] nukeador opened #241 "Automate the export process"
It would be great if we can automate the export process to the main voice-web repo, as documented in the readme, so we don't have to rely on a person doing manual exports weekly.

[2019-07-28 09:20] MichaelKohler commented on #90
The Jest part is being done in https://github.com/Common-Voice/sentence-collector/pull/244/files :)

[2019-07-30 15:45] irvin opened #245 "sentences with enough vote not been exported"
It’s weird that we had add something like 4K zh-tw sentences to collector and make it review with multiple accounts, but so far we only have 1K validated and exported.

<img width="373" alt="螢幕快照 2019-07-30 下午11 37 08 1" src="https://user-images.githubusercontent.com/165936/62144180-efce1b00-b323-11e9-9265-c30527fd3962.png">

[2019-07-30 17:32] MichaelKohler commented on #245
I have looked into this the past days, for now I know the following:

1) there indeed are many records that should be approved, but the flag is not set
2) he records get updated with the username of the reviewer, so it's not a pure network error and the record just wouldn't get updated
3) I debugged this in production yesterday, and when I went through it, it counted my vote correctly and the reco

[2019-07-31 20:18] MichaelKohler commented on #245
Irvin mentioned that they were reviewing at a meetup, and also that they used a script to pre-select the thumbs-up button. I've looked at one instance where it didn't apply the approved flag and found this:

[code]

If everything was in the same time, I could totally see how it would not have been approved. Currently, if somebody has an old record locally and approves, it might overwrite the appro

[2019-07-31 20:20] MichaelKohler commented on #245
@nukeador could you live with the fact that the export could easily take 15-20 minutes? (of course depending on network and CPU and you know it..)

If so, I'd suggest to disregard the approval flag and calculate the approval for every sentence when exporting. This way we can circumvent whatever bug this is. Of course this would get slower and slower with more sentences added, though that's already

[2019-07-31 20:43] nukeador commented on #245
I don't really like adding more complications to the export process. What are the alternatives?

Can't we just calculate and mark as validated these sentences as a one-off for zh-TW?

[2019-07-31 20:46] MichaelKohler commented on #245
There are currently none that I see and the chances of me reproducing/debugging this issue is close to 0 by now.

Sure, we can. This doesn't fix anything for the future though.

[2019-07-31 20:47] MichaelKohler commented on #245
And also potentially happening for other languages..

[2019-07-31 20:47] nukeador opened #246 "Sentences export failing"
I've just updated from the latest master and now the export process that used to work is not:
[code]

[2019-07-31 20:50] MichaelKohler commented on #246
`npm ci` installs the latest dependencies. There have been some additions lately.

[2019-07-31 21:16] nukeador commented on #246
Emmm, yes. Thanks.

[2019-07-31 21:16] #246 closed

[2019-08-01 03:36] irvin commented on #245
So how to prevent it for the future, should we avoid all people meet, open the tool at the same time?

[2019-08-01 03:38] irvin commented on #245
for an monthly export procedure 30 mins looks pretty fast to me, in compare to the sentences numbers we may recovered from the bug

[2019-08-01 05:22] MichaelKohler commented on #245
@irvin I can say that opening at the same time can lead to issues, yes. However, this doesn't seem to be the root cause of the issue here. So there is another bug somewhere...

[2019-08-01 18:21] carpecodeum commented on #102
is this issue still being worked on?

[2019-08-02 04:13] irvin commented on #245
Sounds like "disregard the approval flag and calculate the approval numbers for every sentence when exporting" is a much easy and faster way to solve all unknown flag problem once and forever?

@nukeador don't you think it's actually simplified the process (don't check when approving on client side, avoid of dealing all async problems), but not "adding more complications"?

[2019-08-02 06:58] jmontane opened #248 "Where are my sentences?"
Hi,
My Sentence Collector username is jmontane. I just added 1.554 sentences for Catalan language (ca) using Sentence Collector, but my profile shows 0 sentences added, and sentences for review is empty. Is there any bug here?

Thanks.

[2019-08-02 08:02] jmontane commented on #248
I'm sorry, I forget clicking submit button at Sentence Collector.

[2019-08-02 08:02] #248 closed

[2019-08-02 11:48] nukeador commented on #245
This seems like a technical decision, so up to @MichaelKohler to make the final decision here based on the impact on performance.

[2019-08-03 10:43] MichaelKohler commented on #123
@shvmsrma do you need any help? Happy to help!

[2019-08-03 17:56] MichaelKohler commented on #245
The penalty we’re getting here is about 15-20 minutes of export instead of around 10-15. But of course, this heavily depends on the network connection and reliability as well as the processing power available. Since this is a technical decision, I’ll go with this approach. I will leave the issue here open to see if somebody can figure out why not all sentences get approved anymore.

Here’s the dif

[2019-08-03 18:28] irvin commented on #245
@MichaelKohler no problem, we most do that on Friday meetup after each time I add sentences, so I will make sure people are do it from back.

[2019-08-04 14:58] lili668668 commented on #245
Hi,

I am the author of that tool. I am very sorry to make this bug. I want to say what I do in this tool.

That is a python script which is to send data to `/batch`.

I randomly took a request as a template. I thought that verifying a total of serveral people approved is implemented on the backend. At that time, I didn't know the code of the frontend. Thus, I missed a flag. I am sorry.

That scri

[2019-08-04 15:16] MichaelKohler commented on #245
@lili668668 thanks for the explanation, I think this explains the issue at hand perfectly then. Note that with your script you also circumvent any validation that is done on the client. That's not a bad thing per se, as long as the review is done correctly.

And yes, I'm fully aware that we're currently doing too much on the client side. I'll come up with a proposal soon.

[2019-08-04 15:16] MichaelKohler commented on #245
Also, in that case I'm closing this here as we've found the issue.

[2019-08-04 15:16] #245 closed

[2019-08-04 16:14] MichaelKohler commented on #245
an last but not least: I've corrected all wrongly flagged sentences, these should now all have the correct approval state. @irvin This also means that the review queue should now be correctly functioning as well (to be more exact: there are no more sentences to review right now).

[2019-08-05 13:54] rbrishabh commented on #123
@MichaelKohler , I would love to take this up!

[2019-08-27 08:08] Adrijaned commented on #211
After overcoming my laziness yeasterday, I've made a script myself to extract the problematic sentences from the czech dataset, from Honzlova, and I also discovered that one other copyright protected work, Hastrman, has been used to collect some of those.
Links to the works:
https://web2.mlp.cz/koweb/00/04/32/39/83/honzlova.html
https://web2.mlp.cz/koweb/00/04/38/95/07/hastrman.html

<details>
<su

[2019-08-28 01:03] mozillakab opened #252 "Sentence collector: rejection message"
Some kab sentence collectors are getting this message when sending sentences: last modifed precondition failed. Could someone explain what does this mean?

![5092c5906f645301645233a809242d1297e9d3f7](https://user-images.githubusercontent.com/7033740/63818219-53a62c80-c940-11e9-969b-02913e10e098.png)

[2019-08-28 09:39] MichaelKohler commented on #252
@mozillakab thanks for the report. Could it be that these sentences had been added by another contributor right before submitting? If not, do you see any common pattern when this error occurs?

[2019-08-28 10:32] MichaelKohler commented on #211
Thanks for your efforts. I've just removed all sentences and that will be reflected in the next export.

[2019-08-28 10:32] #211 closed

[2019-08-28 11:51] mozillakab commented on #252
@MichaelKohler as we are sharing the same repo on github where we are putting raw corpora, I suspect that some of us have sent same sentences on SC. It's not the first time we got such a message.

[2019-08-28 12:33] MichaelKohler commented on #252
Let's keep an eye on it, as this possibly is quite hard to reproduce to debug, any better steps on how to get into that state would help.

[2019-08-29 11:29] nukeador opened #253 "Issues with export"
Currently the export is taking hours in my box, exactly 9 hours.

It used to be 10-15 minutes, we need to fix this :S

And once finished when I'm trying to commit:

[code]

I have to add the --no-verify in order to be able to commit.

[2019-09-02 04:24] limapedro opened #255 "Only shows ten thousand sentences"
Hi, I'd like to see how many sentences were validated, but there is this limitation with only ten thousand sentences being shown, will this be changed?

[2019-09-02 07:28] MichaelKohler commented on #255
See #240

[2019-09-02 07:28] #255 closed

[2019-09-02 08:00] MichaelKohler commented on #253
I'll compare when I do my next export. It was clear that moving towards client side approval checks would slow it down. My data didn't give me such a big performance decrease though. Heavily depends on networking speed and other performance factors though. I guess we could remove that again as we figured out the main cause of the not-approved sentences this was done for though.

Regarding the OOM

[2019-09-04 14:54] Adrijaned commented on #164
Hi, over the past few days I've thrown together a quick POC Android app for reviewing sentences, available at https://github.com/Adrijaned/CommonVoiceSentenceCollectorAndroid in case you find it useful. It is built around [Swipecards](https://github.com/Diolor/Swipecards), and I have to say at least that such a scheme of control is at least comfortable to use at mobile. I am however unsure how a s

[2019-09-04 16:20] MichaelKohler commented on #164
@Adrijaned I haven't built the app yet, but I appreciate the efforts to explore how to make review easier. Just had a quick look at the code and noticed the following. Currently we need to do the "approval" check on the clients, so could you please implement that as well?

Reference:
https://github.com/Common-Voice/sentence-collector/blob/master/shared/db/collections/sentences-meta.js#L468
https:/

[2019-09-05 20:17] Adrijaned commented on #164
An update fixing that, plus one other thing just pushed. A few more quirks to keep in mind:
 - No idea how this behaves in case of any network error
 - You must already have an account on the sentence collector website
 - you must already have some languages on the sentence collector website
 - you can not choose your lang in the app, the first (according to some to me unknown ordering) will be ch

[2019-09-10 18:19] MichaelKohler commented on #253
The step I've added to check for the approval while exporting doesn't take much time. The most time intense step is checking against existing sentences in voice-web. The more the data in voice-web grows, the slower it gets. That's why languages with Wikipedia scrapes take that long. I'll look into making it more performant (if possible) when I have time.

[2019-09-15 10:06] #253 closed

[2019-09-18 16:32] Adrijaned commented on #164
Quite a nicely working solution doing this in website context is on https://codepen.io/RobVermeer/pen/japZpY

[2019-09-22 16:23] Adrijaned opened #258 "Visual page navigation bug when submitting reviewed sentences"
When displaying the "Submitting senteces, please do not close", the page nav looks like in the picture

![Screenshot_20190922_182038](https://user-images.githubusercontent.com/22203805/65391135-fb5b2280-dd65-11e9-8992-ca4dfcd03f4b.png)

[2019-09-22 17:36] MichaelKohler commented on #258
Thanks, I guess we are using a fixed width somewhere instead of being nicely responsive.

[2019-09-25 16:24] Adrijaned opened #259 "Run validation correction script on several languages"
#225 changed record approval logic, however, sentences that had just two approving votes on them cast before merging of that PR, are still marked as invalid in kinto. Would it be thus possible to run the script introduced in #250 on all less active languages to bring them up to date? I am aware of this problem existing in at least Czech dataset (locale cs)

[2019-09-25 18:52] MichaelKohler commented on #259
As this is not an issue for the export I'm marking this as P2 and will do it once I have time. How did you end up with not approved sentences though? When I wrote the script I tested against all languages and didn't see any others that were affected. Are you using any other interface apart from the official Sentence Collector for cs?

[2019-09-25 20:11] Adrijaned commented on #259
None that I am aware of. I reviewed like 5 sentences from my android app just to test that thing works, but I am pretty certain that I was the first reviewer on those, so that shouldn't have any impact at it. On closer look though, it appears most of the sentences around the one I noticed this at are marked correctly, which might make it just a random quirk? I was looking at the particular sentenc

[2019-09-25 20:15] Adrijaned commented on #259
Well, actually, not just one off, sentences in the records view ABOVE the one linked all appear to not be marked correctly. BELOW, are, however, correct

[2019-09-30 16:08] MichaelKohler commented on #253
:tada: This issue has been resolved in version 1.12.1 :tada:

The release is available on [GitHub release](https://github.com/Common-Voice/sentence-collector/releases/tag/v1.12.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-30 19:55] MichaelKohler commented on #164
I'll close this here for now, let's file individual issues if you find any regarding mobile design.

[2019-09-30 19:55] #164 closed

[2019-10-02 23:14] MichaelKohler commented on #259
This is done.

[2019-10-02 23:14] #259 closed

[2019-10-16 21:06] Adrijaned opened #260 "Research: ability/feasibility of sentence import from WikiData"
WikiData is somewhat new project by Wikimedia Foundation, providing database-style data on about everything, while being CC0. One of the specific subsets of data they are providing over there are lexemes, which sometimes include example sentences. Those might be fit for inclusion in the Common Voice dataset.
Pros:
- Everything is CC0
- As those are example sentences for all kinds of lexemes, the d

[2019-10-17 10:56] nukeador commented on #260
Thanks for bringing this up. Let's definitely keep an eye on how this project evolves.

[2019-10-21 08:48] stefangrotz opened #261 "German collection constantly shows 10 000 validated sentences"
The german collection now constantly showed 10 000 validated sentences for the last weeks even though I validated a few hundred sentences. This could be a coincident, but it looks weird to me. Could this be a bug?
<img width="585" alt="Bildschirmfoto 2019-10-21 um 10 46 24" src="https://user-images.githubusercontent.com/5982239/67190371-2467e500-f3f0-11e9-976f-910569c59251.png">

[2019-10-21 08:51] stefangrotz commented on #261
doublicate

[2019-10-21 08:53] stefangrotz commented on #160
Hey I like the idea of. 10k + as a quick fix. I found the static number very confusing and with this there is at least an indicator that there are more sentences.

[2019-10-23 02:08] michael-dean-haynie commented on #258
@MichaelKohler, @alejandroclose - Any recent movement on this issue? I'd like to pick it up but don't want to snipe it.

[2019-10-23 15:07] MichaelKohler commented on #258
@michael-dean-haynie feel free to take this one as it's been 23 days :)

[2019-11-12 18:01] #90 closed

[2019-11-12 18:06] MichaelKohler commented on #123
@rbrishabh are you still interested in taking this up? I don't think there is anyone working on this now.

[2019-11-12 18:07] rbrishabh commented on #123
Sure, I'd love to take a look

[2019-11-12 18:09] MichaelKohler commented on #252
I'm closing this, feel free to reopen if this happens again.

[2019-11-12 18:09] #252 closed

[2019-11-12 18:15] MichaelKohler commented on #183
I'll close this as it's gonna (eventually) be tackled by #149.

[2019-11-12 18:15] #183 closed

[2019-11-12 18:27] #102 closed

[2019-11-12 22:14] MichaelKohler commented on #220
I think we could add the review criteria from "How To" section "Make sure the sentence meets the following criteria:" directly on the review form. However, this should take as little space as possible, to make sure that the sentences are still fitting on one screen (of course that depends on the screen resolution..). I think something like a "help" section which is expandable would be great.

[2019-11-12 22:17] MichaelKohler commented on #213
Our goal is still to eventually implement Auth0, so this won't be necessary anymore once #208 is done. Might take a while to get there though..

[2019-11-12 22:17] #213 closed

[2019-11-14 18:49] MichaelKohler opened #268 "Add French Cleanup file"
According to https://github.com/mozilla/voice-web/pull/2262#issuecomment-553848602 the EN cleanup does not work for FR. This should be changed. Here are the rules that are valid for French:

[code]

[2019-11-14 18:50] MichaelKohler commented on #268
To add a new cleanup file for a given language, refer to https://github.com/Common-Voice/sentence-collector/blob/master/shared/cleanup/CLEANUP.md. Let's hold off this until we figured out https://github.com/mozilla/voice-web/issues/2259 so we don't create a complete mess.

[2019-11-14 18:53] MichaelKohler opened #269 "Cleanup does only replace first occurance"
The cleanup file only replaces the first occurrences of some patterns. At least in French there are sentences with multiple of these patterns per sentence. We need to fix this, though we first need to figure out how we can avoid invalidating all Common Voice hours when we change this. That answer will be provided as an answer to https://github.com/mozilla/voice-web/issues/2259#issuecomment-5480964

[2019-11-18 14:29] lissyx commented on #268
They are not complete, but at least this set would not introduce typographic errors :)

[2019-12-02 18:58] Adrijaned opened #271 "Can't add language that was already once added and removed"
![Screenshot_20191202_195756](https://user-images.githubusercontent.com/22203805/69986662-2b7d2980-153e-11ea-8148-743cc9dba3ae.png)

[2019-12-02 19:01] Adrijaned commented on #271
After adding one other language I haven't added before, the macedonian appeared together with it. Still quite confusing nevertheless.

[2019-12-03 17:40] MichaelKohler commented on #271
Thanks for filing this, would be great if somebody wants to debug this further to see where exactly the error happens :)

[2019-12-09 18:46] Shubhamchinda commented on #258
Hey, I'd like to work on this issue!

[2019-12-09 19:12] Adrijaned commented on #258
Hey @Shubhamchinda, I'm afraid this was already fixxed in #262 . Closing as such.

[2019-12-09 19:12] #258 closed

[2019-12-11 18:22] #268 closed

[2019-12-12 14:08] mozillakab opened #275 "Rejected sentence: add an icon"
Add a red icon to indicate that there are rejected sentences.

A contributor on Sentence Collector (kab language) said he didn't know that some of his sentences were rejected. I think a small red icon next Rejected Sentences should help.

Note that kab speaking people are also French Speaking people but not English. That's why we have few kab contributors on IRC, Discourse, Github, ...and other Mo

[2019-12-12 17:37] MichaelKohler commented on #275
I like the idea of having a badge showing the numbers of rejected sentences. That would however require more backend work than we're gonna do for now. So I don't think that is gonna happen anytime soon.

What maybe could be done for now is a indication if there are new rejected sentences in the past week or so, but that wouldn't clear once seen. So not really a great mid term solution.